
<div class="container-fluid">
<div class="panel panel-default">
	<div class="panel-body">
    <h2 class="page-header">MAP OF SITES <a class="btn btn-md btn-default pull-right" ng-click="projectMap.closeProjectmapwindow()"><i class="glyphicon glyphicon-remove"></i> Close Window</a></h2>
    <div class="row">
        <div class="col-md-5 col-sm-5 col-lg-5">
            <div id="mapCanvas" class="map-height"></div>
        </div>

        <div class="col-md-offset-2 col-md-5 col-sm-5 col-lg-5">
            <h4>PARCEL Project: Laurel Portfolio</h4>
            <div class="row bottom-margin-sm" ng-repeat="address in projectMap.addresses">
                <div class="col-md-1 col-sm-1 col-lg-1"><span class="badge">{{$index + 1}}</span></div>
                <div class="col-md-11 col-sm-11 col-lg-11">
                    <a class="pointer" ng-click="projectMap.showFullAddress[$index]  = !projectMap.showFullAddress[$index]">
                        {{address.propertyNumber + " : " }} {{address.address}}</a>
                    <div ng-show="projectMap.showFullAddress[$index]">
                        <div>{{address.siteName}}</div>
                        <div>{{address.city}}</div>
                        <div>{{address.state}}</div>
                        <div>{{address.zipCode}} </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>	
</div>