<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
 
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class="page-header">Templates</h2>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="company" class="control-label col-md-2 col-sm-3 col-xs-12">
                            Company:
                        </label>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <select id="company" class="form-control">
                                <option>Default</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="SelectTemplate" class="control-label col-md-2 col-sm-3 col-xs-12">
                            Select a template:
                        </label>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <select id="SelectTemplate" class="form-control">
                                <option>Default</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="wantTo" class="control-label col-md-2 col-sm-3 col-xs-12">
                            I want to:
                        </label>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <select id="wantTo" class="form-control">
                                <option>Default</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>

                    </div>
                    <hr>

                    <p>This template<strong> IS</strong> your default template for Agricultural Land Appraisal reports.</p>

                    <hr>
                    <div class="form-group">
                        <label for="dashboard" class="control-label col-md-2 col-sm-3 col-xs-12">
                            Dashboard
                        </label>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <select id="dashboard" class="form-control">
                                <option>Default</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>

                    </div>
                    <hr>
                    <div class="form-group ">
                        <div class="col-sm-offset-3 ">
                            <button type="reset" class="btn btn-md btn-default">Cancel</button>
                            <button type="submit" class="btn btn-md btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>