<div class="field row">
	<div class="span2">{{field.field_title}}:</div>
	<div class="span4">
		<input type="password" ng-model="field.field_value"
			value="{{field.field_value}}" ng-required="field.field_required"
			ng-disabled="field.field_disabled" ng-blur="blurred()"> <span
			class="required-error"
			ng-show="field.field_required && !field.field_value">*
			required</span>
	</div>
</div>
<div class="field row">
	<div class="span2" ng-show="field.subfield.field_visible">{{field.subfield.field_title}}:</div>
	<div class="span4">
		<input type="text" ng-model="field.subfield.field_value"
			value="{{field.subfield.field_value}}"
			ng-required="field.subfield.field_required"
			ng-disabled="field.subfield.field_disabled"
			ng-show="field.subfield.field_visible"> <span
			class="required-error"
			ng-show="field.subfield.field_required && !field.subfield.field_value">*
			required</span>
	</div>
</div>

