<div>
    <hr>

    <!--    <h3>{{recommendationHeader}}</h3>-->

    <div class="table-responsive" cg-busy="waitingProcessResources">
        <div ng-show="!tableRows.length">No recommendations have been added to this section</div>
        <table ng-show="tableRows.length" class="table table-hover table-condensed">

            <thead>
                <tr>
                    <th ng-repeat="header in fannieHeaders">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="putBgColor(item,$index,$odd,$even)" ng-repeat="item in tableRows | filter:{ sectionId: sectionId }">
                    <td><a class="pointer" ng-click="editRecommendation(item,$index,1,$event)">{{item.name}}</a>
                        <a class="pointer" ng-click="deleteRecommendation(item,$index,1,$event)" ng-hide="item.name==''"><strong>Delete</strong></a></td>
                    <td>{{item.eul}}</td>
                    <td>{{item.eff}}</td>
                    <td>{{item.rul}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.unit}}</td>
                    <td>{{item.unitCost}}</td>
                    <td>{{item.replacePercent}}</td>
                    <td>{{item.unallocatedCost}}</td>

                    <td><a class="pointer" ng-click="editRecommendation(item,$index,1,$event)">{{item.year}}</a></td>
                    <td>{{item.cost}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
