<div class="col-md-3 col-lg-3 needhelppopout">
    <div class="needhelp-toggle" style="display: none;">
        <button class="btn btn-sm btn-success pull-right" type="button" help-popup> Need Help? </button>
        <div class="clearfix"></div>
        <div class="needhelp ">
            <p>Enter your comment or question here and click send, we'll take care of the rest.</p>
            <form>
                <textarea type="text" class="form-control"> </textarea>
                <div class="pull-right top-margin">
                    <button type="button" class="btn btn-xs btn-default" help-popup>
                        NEVERMIND</button>
                    <button type="button" class="btn btn-xs btn-primary">SEND
                    </button>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<footer class="footer-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="Footermenu1-LP col-lg-12 col-md-12 col-sm-12">
                <ul class=" list-unstyled ">
                    <li><a href="http://edrnet.com/" target="_blank" tabindex="-1"><i class="fa fa-copyright"></i> 2016 EDR, Inc.</a></li>

                    <li><a href="" target="_blank" tabindex="-1">Terms of Service</a></li>

                    <li><a href="http://edrnet.com/contact-us/" target="_blank" tabindex="-1">Contact Us</a></li>

                    <li><a id="currentserver" class="decoration-n" tabindex="-1">Current Server: AWS118-1c </a></li>

                    <!--<li class="noborder"><a id="currentserver" class="decoration-n">Example Cookie: {{exampleCookie}} </a></li>-->
                </ul>
                <ul class="Needhelp-button" ng-hide="hidebtn" tabindex="-1">
                    <button id="needhelp-btn" help-btn class="btn btn-sm btn-success" type="button" tabindex="-1"> Need Help? </button>
                </ul>
            </div>

        </div>
    </div>
</footer>