<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body >
 
 <div class="container-fluid">
	 <div class="panel panel-default">
	 <div class="panel-body">
     <div class="row">
         <div class="col-md-12 col-lg-12">
             <h2 class="page-header">  Order placed on the EDR website </h2>
             <div class="alert alert-info">
                <p>This is a list of orders that your company has placed on the EDR Website. To complete an order, click on the Finish button.</p>
             </div>
             <div class="overflow-auto">

               <table class="table table-hover table-responsive">
                  <thead>
                    <tr>
                      <th>Order Number</th>
                      <th>Account Number</th>
                      <th>Contact Name</th>
                      <th>Contact Email</th>
                      <th>#Properties</th>
                      <th> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">132</th>
                      <td>2055520</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>XYZ</td>
                      <td><button class="btn btn-md btn-primary">Finish Order  </button></td>
                    </tr>
                    <tr>
                      <th scope="row">332</th>
                      <td>203320</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>XYZ</td>
                      <td><button class="btn btn-md btn-primary">Finish Order  </button></td>
                    </tr>
                    <tr>
                      <th scope="row">342</th>
                      <td>2033520</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      <td>XYZ</td>
                      <td><button class="btn btn-md btn-primary">Finish Order  </button></td>
                    </tr>
                     <tr>
                      <th scope="row">356</th>
                      <td>2055520</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>XYZ</td>
                      <td><button class="btn btn-md btn-primary">Finish Order  </button></td>
                    </tr>
                    <tr>
                      <th scope="row">390</th>
                      <td>203320</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>XYZ</td>
                      <td><button class="btn btn-md btn-primary">Finish Order  </button></td>
                    </tr>
                    <tr>
                      <th scope="row">412</th>
                      <td>2033520</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      <td>XYZ</td>
                      <td><button class="btn btn-md btn-primary">Finish Order  </button></td>
                    </tr>
                     <tr>
                      <th scope="row">432</th>
                      <td>2055520</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>XYZ</td>
                      <td><button class="btn btn-md btn-primary">Finish Order  </button></td>
                    </tr>
                    <tr>
                      <th scope="row">502</th>
                      <td>203320</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>XYZ</td>
                      <td><button class="btn btn-md btn-primary">Finish Order  </button></td>
                    </tr>
                    <tr>
                      <th scope="row">552</th>
                      <td>2033520</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      <td>XYZ</td>
                      <td><button class="btn btn-md btn-primary">Finish Order  </button></td>
                    </tr>
                  </tbody>
                </table>
             </div>
         </div>    
    </div>
	 </div>
	 </div>
</div>
  
</body>
</html>
