
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="CancelDelete()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">PARCEL - Fee Information</h4>
</div>

 
    

        <div class="modal-body ">
          
          
            <ul>
                <li><p>
                        The 'Fee' field is an <b>optional field</b>, provided so that environmental consultants and their clients can communicate the consultant's fee via the Project Setup process.
                    </p>
          
                </li>
                <li><p>
                    The information entered here will appear in the Work Order PDF file that is sent along with the project setup notification. This document is also stored in the 'Project Documents' section of your Project.
                </p>
         
                </li>
            </ul>
        </div>




        <div class="modal-footer">
            <button class="btn btn-default" ng-click="CancelDelete()">OK</button>

        </div>

 