
    <div class="container-fluid" ng-controller="ProjectSearchCtrl as ProjectSearchCtrl">
		<div class="panel panel-default">
		<div class="panel-body">	
        <h2 class="page-header">Project Management</h2>

        <form name="ProjectPortfolioSearch" confirm-on-exit>
            <div class="row">                
                <div class="col-xs-3 col-xs-offset-3">
                    <h6>Search for Project/Reports Where</h6>
                </div>                
                <div class="col-xs-3 col-xs-offset-3">
                    <h6><span class="reqText">*</span> Dates are to be entered as "YYYY-MM-DD"</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <select class="form-control">
                            <option>And</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <select class="form-control" name="field1" ng-model="ProjectSearchCtrl.ProjectSearchFields.field1" ng-change="ProjectSearchCtrl.getSearchOperators(ProjectSearchCtrl.ProjectSearchFields.field1,'type1')">                                                      
                           <option ng-repeat="filter in ProjectSearchCtrl.ProjectSearchFilters" value="{{filter.filterGUID}}">{{filter.filterName}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="field2" ng-model="ProjectSearchCtrl.ProjectSearchFields.field2" ng-change="ProjectSearchCtrl.getSearchOperators(ProjectSearchCtrl.ProjectSearchFields.field2,'type2')">
                           <option ng-repeat="filter in ProjectSearchCtrl.ProjectSearchFilters" value="{{filter.filterGUID}}">{{filter.filterName}}</option>                           
                        </select>
                    </div>

                    <h6>Within</strong></h6>

                    <div class="form-group">
                        <select class="form-control" name="ReportTypes" ng-init="ProjectSearchCtrl.ProjectSearchFields.reportTypes='ALL'" ng-model="ProjectSearchCtrl.ProjectSearchFields.reportTypes" multiple>
                            <option value="ALL">All Report Types</option>
        <option ng-repeat="rtype in ProjectSearchCtrl.allReportTypes" value="{{rtype.reportTypeGUID}}">{{rtype.reportTypeName}}</option>
                           
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <select class="form-control"  name="type1" ng-init="ProjectSearchCtrl.ProjectSearchFields.type1='Contains'" ng-model="ProjectSearchCtrl.ProjectSearchFields.type1">
                           <option ng-repeat="filter in ProjectSearchCtrl.ProjectSearchOperators1" value="{{filter.operatorGUID}}">{{filter.operatorName}}</option> 
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="type2" ng-init="ProjectSearchCtrl.ProjectSearchFields.type2='Contains'" ng-model="ProjectSearchCtrl.ProjectSearchFields.type2">
                           <option ng-repeat="filter in ProjectSearchCtrl.ProjectSearchOperators2" value="{{filter.operatorGUID}}">{{filter.operatorName}}</option> 
                        </select>
                    </div>
                </div>                                
            
                <div class="col-xs-3">

                    <div class="form-group">
    <input class="form-control" type="text" name="text1" ng-model="ProjectSearchCtrl.ProjectSearchFields.text1" required>                        
                    </div>

                          <div class="form-group">                                
                            <input class="form-control" name="text2" ng-model="ProjectSearchCtrl.ProjectSearchFields.text2"  type="text" required>                                        </div>
                    
                </div>
            
            </div>

            <div class="row">
            <div class="col-xs-12">
                    <div class="text-center">
            <button type="button" class="btn btn-primary" ng-click="ProjectSearchCtrl.SearchProjects()">Submit</button>
                        </div>
            </div></div>
        
        </form>
        <!--<hr>-->
        <div class="row" ng-init="ProjectSearchCtrl.showSearchResults=false" ng-show="ProjectSearchCtrl.showSearchResults">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table  class="table table-striped" width="100%" id="tblprojectSearch" name="tblprojectSearch">
                        <thead>
                            <tr>
                                <th class="filter"><a>Project Name</a></th>
                                <th>Project Number</th>
                                <th class="filter"><a>Client</a> </th>
                                <th># Sites Final/Total </th>
                                <!--<th>Actions</th>-->
                            </tr>
                        </thead>
                        <tbody>                            

                           <!-- <tr ng-repeat="search in ProjectSearchCtrl.SearchData">
                                <td scope="row" ng-bind="search.projectName"></td>
                                <td ng-bind="search.projectNumber"></td>
                                <td><a href="#" type="button" data-toggle="tooltip" data-placement="bottom" ng-bind="search.clientCompanyName"> </a></td>
                                <td ng-bind="search.FinalTotal"></td>
                                <td><a type="button" data-toggle="tooltip" data-placement="bottom" title="Go to the Access Management Page for this Page ">Access</a>&nbsp;&nbsp;
                                <a type="button" data-toggle="tooltip" data-placement="bottom" title="View document for this Project">Documents</a>&nbsp;
                                <a type="button" data-toggle="tooltip" data-placement="bottom" title="Archive this Project">Archive</a></td>
                            </tr>        -->     
                           
                        </tbody>
                    </table>

                </div>
            </div>
        </div>   
		</div>
		</div>
	</div>