
<div class="span3 bg startpanel panel ">
    <h3 class="panel-name" id="start-panel">Start</h3>
    <div class="row-fluid">
        <div class="span12 group0">
            <div class="content" id="contentstart-content">
                <ul class="nav nav-list">
                    <li>
                        <a href="/workOrder/express.php" class="feature157"><img src="/images/icons/address.png"> New Single Site Project</a>
                    </li>
                    <li>
                        <a href="/workOrder/portfolio.php" class="feature158"><img src="/images/icons/archives.png"> New Portfolio</a>
                    </li>
                    <li>
                        <a href="/edr/linkedOrderList.php" class="feature159"><img src="/images/icons/link.png"> Order placed on the EDR Website?</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end row-fluid -->
    </div>
    <!-- end groupArray -->
</div>