
<div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" ng-click="CancelDelete()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">PARCEL - Email Notification</h4> 
</div>

<div class="modal-body ">        
    <p> Every time you create a project on PARCEL, a confirmation email will be sent to the email address listed for your account.
    </p>
    <p> The email will include a PDF file summarizing the information you enter on this page.
    </p>
    <p> If you want to notify other users of the project's creation, enter their email addresses below separated by commas or semicolons. Note that sending the email does not necessarily <a ng-click="ShowAccessHelp()">grant them access</a> to the project.
    </p>
     You can use the 'Find Contact' link to search for other PARCEL users or to store information for frequent contacts.

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="CancelDelete()">OK</button>
</div>

