
<div class="modal-header dividerline">
    <button type="button" class="close" data-dismiss="modal" ng-click="CancelDelete()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">PARCEL - Granting Access</h4>
</div>

<div class="modal-body">
    <h5>Granting Access to Other PARCEL Users</h5>
    <p>
        You have the option of letting other PARCEL users see the project you are creating.

        This can include other members of your company, as well as users from other companies you work with. The only requirement is that they have an account on PARCEL.
    </p>
    <p>
        In two cases, access is automatically granted to other users:
    </p>
    <ol>
        <li>If you are using PARCEL to task a consultant with work, they will automatically receive access to the report.</li>
        <li>Your company can request that some users have access to all reports created within their company.</li>
    </ol>
        If you are a consultant who prefers that your client does not have access until the project is complete, you should not grant access at this time. When the report is ready, you can use the 'Grant Access' screen to let them see your report.

</div>
         
<div class="modal-footer ">
    <button class="btn btn-default" ng-click="CancelDelete()">OK</button>

</div>

 