<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title></title>
    <style type="text/css"></style>

    </head>
    <body>
<form name="findContactForm" class="form-horizontal">
<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="findContact.CancelDelete()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Find Contacts</h4>
    </div>
<form name="ContactListForm" novalidate class="form-horizontal">
<div class="modal-body ">
<div class=" tabbable tabs-below" ng-show="!findContact.editSelected">
<div class="bs-example">
      <ul class=" nav nav-tabs">
    <li ng-class="{active: selectedTab == 1}"> <a class="pointer" ng-click="findContact.FindContactClick()">Find Contact</a> </li>
    <li ng-class="{active: selectedTab == 2}"> <a class="pointer" ng-click="findContact.AddContactClick()">Add Contact</a> </li>
  </ul>
    </div>
<div role="tabpanel" class="tab-content " ng-show="selectedTab == 1">
      <div id="divFindContact">
    <div class="row">
          <div class="col-md-6 col-sm-6 form-group">
        <input type="text" class="form-control" placeholder="Enter text to search for contacts: " ng-model="findContact.searchterm">
      </div>
        </div>
    <div class="table-responsive">
          <table class="table table-condensed  table-bordered table-hover ">
        <thead>
              <tr>
            <th>Action</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th>Email Address</th>
            <th>Phone #</th>
          </tr>
            </thead>
        <tbody>
              <tr ng-repeat="contact in findContact.filtered = (findContact.CompanyContactsArr | filter: findContact.searchterm) | filter : findContact.paginate">
            <td><a class="pointer" ng-click="findContact.EditContact(contact)">Edit</a></td>
            <td><a class="pointer" ng-click="findContact.ContactSelected(contact)">{{contact.firstName}}</a></td>
            <td> {{contact.lastName}} </td>
            <td> {{contact.companyName}} </td>
            <td> {{contact.email}} </td>
            <td> {{contact.phone}} </td>
          </tr>
            </tbody>
      </table>
        </div>
    <pagination total-items="findContact.totalItems" ng-model="findContact.currentPage"
                                        max-size="5" boundary-links="true"
                                        items-per-page="findContact.numPerPage" class="pagination-sm"> </pagination>
  </div>
    </div>
<div role="tabpanel" class="tab-content border-right" ng-show="selectedTab == 2">
      <div id="divAddContact">
    <div class="container-fluid">
          <div class="row">
        <div class="form-group col-md-6 col-sm-6 col-xs-12" show-errors>
              <label for="exampleInputFirstName">First Name</label>
              <input type="text" class="form-control" id="firstName"
                                           ng-model="findContact.newContact.firstName" name="firstName" placeholder="First Name" required>
            </div>
        <div class="form-group  col-md-6 col-sm-6 col-xs-12" show-errors>
              <label for="exampleInputLastName">Last Name</label>
              <input type="text" class="form-control" id="lastName"
                                           ng-model="findContact.newContact.lastName" name="lastName" placeholder="Last Name" required>
            </div>
      </div>
          <div class="row">
        <div class="form-group  col-md-6 col-sm-6 col-xs-12">
              <label for="exampleInputCompanyName">Company Name</label>
              <input type="text" class="form-control" name="CompanyName" placeholder="Company Name" ng-model="findContact.newContact.companyName">
            </div>
        <div class="form-group  col-md-6 col-sm-6 col-xs-12">
              <label for="exampleInputAddress">Address</label>
              <input type="text" class="form-control" name="Address" placeholder="Address" ng-model="findContact.newContact.address">
            </div>
      </div>
          <div class="row">
        <div class="form-group  col-md-6 col-sm-6 col-xs-12">
              <label for="exampleInputCity">City</label>
              <input type="text" class="form-control" name="City" placeholder="City" ng-model="findContact.newContact.city">
            </div>
        <div class="form-group  col-md-6 col-sm-6 col-xs-12">
              <label for="exampleInputState">State</label>
              <input type="text" class="form-control" name="State" placeholder="State" ng-model="findContact.newContact.state">
            </div>
      </div>
          <div class="row">
        <div class="form-group  col-md-6 col-sm-6 col-xs-12">
              <label for="exampleInputZipCode">Zip Code</label>
              <input type="text" class="form-control" name="ZipCode" placeholder="Zip Code" ng-model="findContact.newContact.zipCode">
            </div>
        <div class="form-group  col-md-6 col-sm-6 col-xs-12">
              <label for="exampleInputPhone">Phone</label>
              <input type="text" class="form-control" name="Phone" placeholder="Phone" ng-model="findContact.newContact.phone">
            </div>
      </div>
          <div class="row">
        <div class="form-group  col-md-6 col-sm-6 col-xs-12">
              <label for="exampleInputFax">Fax</label>
              <input type="text" class="form-control" name="Fax" placeholder="Fax" ng-model="findContact.newContact.fax">
            </div>
        <div class="form-group  col-md-6 col-sm-6 col-xs-12">
              <label for="exampleInputEmail">Email</label>
              <input type="text" class="form-control" name="Email" placeholder="Email" ng-model="findContact.newContact.email">
            </div>
      </div>
          <div class="row">
        <div class="form-group  col-md-6 col-sm-6 col-xs-12">
              <button type="submit" class="btn btn-primary" ng-click="findContact.SubmitContact()">Submit Changes </button>
              <button type="reset" class="btn btn-default" ng-click="findContact.Reset()">Reset </button>
            </div>
      </div>
        </div>
  </div>
    </div>

<!-- edit contact -->
<div class=" tabbable tabs-below" ng-show="findContact.editSelected">

<!-- tab layout -->
<div class="bs-example">
      <ul class=" nav nav-tabs">
    <li ng-class="{active: true}"> <a class="pointer">Edit Contact</a> </li>
  </ul>
    </div>
<!-- tab layout end --> 
<!-- tab content -->
<div role="tabpanel" class="tab-content border-right">
<div id="divEditContact">
 
      <div class="container-fluid">
    <div class="row">
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="exampleInputFirstName">First Name</label>
        <input type="text" class="form-control" id="firstName"
                                           ng-model="findContact.editedContact.firstName" name="firstName" placeholder="First Name" required>
      </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="exampleInputLastName">Last Name</label>
        <input type="text" class="form-control" id="lastName"
                                           ng-model="findContact.editedContact.lastName" name="lastName" placeholder="Last Name" required>
      </div>
        </div>
    <div class="row">
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="exampleInputCompanyName">Company Name</label>
        <input type="text" class="form-control" name="CompanyName" placeholder="Company Name" ng-model="findContact.editedContact.companyName">
      </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="exampleInputAddress">Address</label>
        <input type="text" class="form-control" name="Address" placeholder="Address" ng-model="findContact.editedContact.address">
      </div>
        </div>
    <div class="row">
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="exampleInputCity">City</label>
        <input type="text" class="form-control" name="City" placeholder="City" ng-model="findContact.editedContact.city">
      </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="exampleInputState">State</label>
        <input type="text" class="form-control" name="State" placeholder="State" ng-model="findContact.editedContact.state">
      </div>
        </div>
    <div class="row">
          <div class="top-margin col-md-6 col-sm-6 col-xs-12">
        <label for="exampleInputZipCode">Zip Code</label>
        <input type="text" class="form-control" name="ZipCode" placeholder="Zip Code" ng-model="findContact.editedContact.zipCode">
      </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="exampleInputPhone">Phone</label>
        <input type="text" class="form-control" name="Phone" placeholder="Phone" ng-model="findContact.editedContact.phone">
      </div>
        </div>
    <div class="row">
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="exampleInputFax">Fax</label>
        <input type="text" class="form-control" name="Fax" placeholder="Fax" ng-model="findContact.editedContact.fax">
      </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="exampleInputEmail">Email</label>
        <input type="text" class="form-control" name="Email" placeholder="Email" ng-model="findContact.editedContact.email">
      </div>
        </div>
    <div class="row">
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <button type="submit" class="btn btn-primary" ng-click="findContact.SubmitEdit()">Submit Changes </button>
        <button type="button" class="btn btn-default" ng-click="findContact.ResetEditChanges()">Reset </button>
        <button type="button" class="btn btn-default" ng-click="findContact.CancelEdit()">Cancel Edit </button>
      </div>
        </div>
  </div>
      </div>
      <!-- tab content end -->
      
      </div>
      <!-- edit contact end -->
      
      </div>
      <div class="modal-footer">
    <button class="btn btn-default" ng-click="findContact.CancelDelete()">Cancel</button>
  </div>
 
</body>
</html>
