
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="CancelDelete()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">PARCEL - Latitude and Longitude</h4>
</div>

<div class="modal-body">
    <ul>
        <li> <p>
                If you do not enter a latitude and longitude for your site, PARCEL will attempt to determine the latitude and longitude of your report using a third party service at no additional cost.
            </p>

        </li>
        <li><p>
            Because of this service, we recommend that if you do not have reliable coordinates for your site, you should leave the latitude and longitude blank.
        </p>

        </li>
        <li><p>Consultants will be able to change the latitude and longitude at any time in the General Information section of their report.</p></li>
    </ul>

</div> 
<div class="modal-footer">
    <button class="btn btn-default" ng-click="CancelDelete()">OK</button>
</div>
   
 