<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
 
    <style type="text/css">
      
    </style>
</head>
<body> 
    <div class="panel-heading">
        <h5 class="panel-title">
            <span class="pointer">Property Information</span>
        </h5>
    </div>
    <div id="collapsePropInfo" class="panel-collapse collapse in">
        <form name="propertyInfoForm" class="form-horizontal "
              ng-controller="LenderPropertyInfoCtrl as propertyInfo">
            <div class="panel-body">
                
          
                <div class="form-group">
                    <label for="clientPropNum" class="control-label col-md-2 col-sm-3 col-xs-12">
                        Client Property Number:
                    </label>
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <input type="text" class="form-control" id="clientPropNum"
                               ng-model="main.submitData.property.propertyNumber">
                    </div>

                </div>
                <div class="form-group required">
                    <label for="propName" class="control-label col-md-2 col-sm-3 col-xs-12">
                        Property Name:
                    </label>
                    <div class="col-xs-12 col-sm-5 col-md-4" field-validation="Property Name">
                        <input type="text" class="form-control" id="propName"
                               ng-model="main.submitData.property.name" required name="propName">

                    </div>
                   
                </div>
                <div class="form-group required">
                    <label for="address" class="control-label col-md-2 col-sm-3 col-xs-12">Address:</label>
                    <div class="col-xs-12 col-sm-5  col-md-4" field-validation="Address">
                        <input type="text" class="form-control" id="address"
                               ng-model="main.submitData.property.address1" required name="address" />
                    </div>
                  
                </div>
                <div class="form-group">

                    <div class="col-md-offset-2 col-xs-12 col-md-4">
                        <input type="text" class="form-control" id="address"
                               ng-model="main.submitData.property.address2" name="address1" />
                    </div>
                </div>

                <div class="form-group required" field-validation="City">
                    <label for="city" class="control-label col-md-2 col-sm-3 col-xs-12">City:</label>
                    <div class="col-xs-12 col-sm-5  col-md-4">
                        <input type="text" class="form-control" id="city"
                               ng-model="main.submitData.property.city" required name="city">
                    </div>
                   
                </div>
                <div class="form-group required">
                    <label for="country" class="control-label col-md-2 col-sm-3 col-xs-12">Country:</label>
                    <div class="col-xs-12 col-sm-5  col-md-4" field-validation="Country">
                        <select class="form-control" id="country" type="select"
                                country-select country-model="main.submitData.property.country"
                                required name="lenderPropertyCountry">
                            <option value="">Select Country</option>
                        </select>
                    </div>
                  
                </div>
                <div class="form-group required">
                    <label for="state" class="control-label col-md-2 col-sm-3 col-xs-12">State:</label>
                    <div class="col-xs-12 col-sm-5  col-md-4" field-validation="State">
                        <select class="form-control" id="state" type="select" state-model="main.submitData.property.state" state-select country-model="main.submitData.property.country" name="propertyState" required>
                            <option value="">Select State</option>
                        </select>
                        <input type="text" class="form-control" id="state"
                               ng-model="main.submitData.property.state" required name="propertyState" state-input>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="zip" class="control-label col-md-2 col-sm-3 col-xs-12">Zip:</label>
                    <div class="col-xs-12 col-sm-5  col-md-4">
                        <input type="text" class="form-control" id="zip"
                               ng-model="main.submitData.property.zip">
                    </div>
                </div>
           
</div>
        </form>
    </div>
</body>
</html>