
<div action-events class="modal modal-priority-alert fade in"
	id="srfAlertModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon">
					<i class="fa fa-exclamation-triangle"></i>
				</div>
				<h4 class="modal-title">Oh No.</h4>
			</div>
			<div class="modal-body">
				<div class="content">
					<p class="lead">
						Something really bad has happened and <b>we've lost all of
							your data.</b>
					</p>
					<p class="lead">We're doing everything we can to get it back.
						We're taking PARCEL offline to prevent further data loss and will
						alert everyone when the problems have been resolved.</p>
				</div>
			</div>

			<div class="modal-footer">
				<a class="pull-right btn btn-danger" ng-click="srfnav.alertClick()"
					data-dismiss="modal">Ok, Got It</a>
			</div>


		</div>
	</div>
</div>
