<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>

</head>

<body>


    <div class="alert alert-info">

        <b>
                The file was blocked due to an insecure file type.
                Attach Documents
                Use this area to attach documents to the project
                (Example: Prior Phase I ESAs, Title Records, etc.)
            </b>

    </div>

    <div class="form-group" id="collapseAttachment" class="top-margin" ng-controller="LenderPortfolioAttachmentCtrl as portfolioAttachments">

        <div class="alert alert-danger" role="alert" id="serviceResponseDiv" ng-show="portfolioAttachments.serviceResponseAlert">
            <button type="button" class="close" ng-click="portfolioAttachments.serviceResponseAlert = false;" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{portfolioAttachments.serviceResponseText}}
        </div>

        <form id="fileupload">
            <div class="fileupload-buttonbar AU_uploadbox">

                <div class="form-group">

                    <span class="btn btn-md btn-success fileinput-button" ng-class="{disabled: disabled}">
                                <i class="fa fa-file-text-o"></i> Attach <input id="file-3"
                                                                                type="file" data-file-input="files"
                                                                                ngf-select ngf-change="upload($files)" ngf-multiple="true" tabindex="1">
                            </span>
                   <!-- <button type="button" class="btn btn-md btn-primary start" ng-click="portfolioAttachments.Upload()">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>-->
                    <span class="AU_uploadFilename text-primary" ng-repeat="file in files">{{file.name}}</span>

                    <hr>
                </div>


                <div class=" form-group" ng-hide="portfolioAttachments.attachmentFiles.length == 0">



                    <table class="table table-condensed  table-bordered table-hover top-margin">

                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>File Name</th>
                                <!--<th>File Description</th>-->
                                <th>File Size</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in portfolioAttachments.attachmentFiles">
                                <td><a style="cursor: pointer;" ng-click="portfolioAttachments.removeAttachment(file.name);">Remove</a></td>
                                <td>{{file.name}}</td>

                                <td>{{file.size}} Bytes</td>
                            </tr>

                        </tbody>

                    </table>

                </div>
                <div class="form-group">
                    <!--<div class="alert alert-success" ng-hide="portfolioAttachments.attachmentFiles.length == 0">

                        <span>Files Uploaded Successfully</span>
                    </div>-->


                    <div class="alert alert-danger" ng-show="portfolioAttachments.isUploadErrorMsg">
                        <span>{{portfolioAttachments.UploadErrorMsg}}</span>
                    </div>
                    <div class="alert alert-danger" ng-show="portfolioAttachments.isUploadErrorMsg">
                        <span>{{portfolioAttachments.IncorrectFormat}}</span>
                    </div>
                    <div class="alert alert-danger" ng-show="portfolioAttachments.isUploadErrorMsg">

                        <a ng-click="ShowUploadStatus()" ng-show="popuplink">Click here for more details</a>

                    </div>

                </div>

            </div>
        </form>


    </div>

</body>

</html>