<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


</head>
<body>
    
    <div class="col-md-9 col-sm-9 border-1">
    <div class="panel panel-default top-margin">
        <div class="panel-body bg-gray">
            <ul class="nav nav-pills nav-stacked">
                <h4>The Project has been successfully setup. Please select one of the following links to: </h4>
                <li><a href="#"> <i class="fa fa-home btn btn-md bg-orange-light icon-16"></i> &nbsp; Return to Home Page</a></li>
                <li><a href="#"> <i class="fa fa-book btn btn-md bg-orange-light icon-16"></i> &nbsp; Setup Another Project</a></li>
                <li><a href="#"><i class="fa fa-user btn btn-md bg-orange-light icon-16"></i>  &nbsp; Grant Access </a></li>
                <li><a href="#">   <i class="fa fa-tachometer btn btn-md bg-orange-light icon-16"></i>  &nbsp; View Project Dashboard  </a></li>
                <div class="text-center">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Exit Parcel </button>
                </div>
            </ul>
        </div>
    </div>
    </div>
   
</body>
</html>
