<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>


</head>

<body>

    <div class="container-fluid top-margin">

        <!--<p class="alert alert-info text-16">
            <b>
                Select one or more Environmental Vendors to bid on this project.
            </b>
        </p>-->
        <div ng-controller="LenderPortfolioSelectEnvironmentalConsultantCtrl as selectEnvConsultant">

            <div class="alert alert-danger" role="alert" id="serviceResponseDiv" ng-show="selectEnvConsultant.serviceResponseAlert">
                <button type="button" class="close" ng-click="selectEnvConsultant.serviceResponseAlert = false;" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{selectEnvConsultant.serviceResponseText}}
            </div>

            <form class="form-horizontal">
                
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 ">
                            Environmental Vendors:
                        </label>
                        <div class="col-xs-12 col-sm-8 col-md-8 ">
                            <multiselect class="input-xlarge" multiple="true" ng-model="selectEnvConsultant.bidCompanyIDs" options="client.companyID as client.name for client in lenderPortfolio.loadData.relatedCompanies|filter:lenderPortfolio.filterByContains('functions', 'Consultant')" header="Select one or more Environmental Consultant" placeholder="Search Environmental Consultant"></multiselect>
                        </div>
                        <span class="text-danger"> * </span>
                    </div>
                
            </form>

        </div>
    </div>

</body>

</html>