<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
 
</head>

<body>
    <div ng-controller="LenderPortfolioConfirmInfoCtrl as confirmInfo">

        <div class="alert alert-danger" role="alert" id="serviceResponseDiv" ng-show="confirmInfo.serviceResponseAlert">
            <button type="button" class="close" ng-click="confirmInfo.serviceResponseAlert = false;" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{confirmInfo.serviceResponseText}}
        </div>

        <!-- right panel start-->

        <h4 class="heading-border"> Project Info</h4>
        <form name="propertyInfoForm" class="form-horizontal">

            <div class="form-group required">
                <label for="projectName" class="control-label col-md-3 col-sm-4 col-xs-12">
                    Project Name:
                </label>

                <div class="col-xs-12 col-sm-5 col-md-4">
                    <input type="text" class="form-control" name="projectName" ng-model="confirmInfo.editProjectInfo.name" focus-if required tabindex="1">
                </div>
                
            </div>
            <div class="form-group required">
                <label class="control-label col-md-3 col-sm-4 col-xs-12">
                    Client Requesting Work:
                </label>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <select class="form-control" ng-model="confirmInfo.editProjectInfo.client.companyName" data-ng-options="client.name as client.name for client in lenderPortfolio.loadData.relatedCompanies | filter: lenderPortfolio.filterByContains('functions', 'Client')" tabindex="2">
                        <option value="">Select a Client</option>
                    </select>
                </div>
                 
            </div>
            <div class="form-group required">
                <label class="control-label col-md-3 col-sm-4 col-xs-12">
                    Date draft report:
                </label>

                <div class="col-xs-12 col-sm-5 col-md-4" field-validation="Draft Due Date">
                   
					<div class="input-group date"  data-provide="datepicker" data-date-autoclose="true" data-date-today-highlight="true" data-date-start-date="parcelCtrl.discountAdd.startDate" data-date-format="mm/dd/yyyy">
                        <input id="dateFinalDue" name="finalDueDate" type="text" class="form-control" ng-model="confirmInfo.editProjectInfo.draftDueDate" tabindex="3"  required>
                        <div class="input-group-btn">
                             <button type="button" class="btn btn-default dateCalendar" tabindex="4"><i class="fa fa-calendar"></i></button>
                        </div>
                </div>
                </div>

               

            </div>
            <div class="form-group required">
                <label for="finalDate" class="control-label col-md-3 col-sm-4 col-xs-12">
                    Date final report:
                </label>
                <div class="col-xs-12 col-sm-5 col-md-4" field-validation="Date Final Due">
                    
					<div class="input-group date" data-provide="datepicker" data-date-autoclose="true" data-date-today-highlight="true" data-date-start-date="parcelCtrl.discountAdd.startDate" data-date-format="mm/dd/yyyy">
                        <input id="dateFinal" name="finalDate" type="text" class="form-control" ng-model="confirmInfo.editProjectInfo.finalDueDate" required>
                        <div class="input-group-btn">
                             <button type="button" class="btn btn-default dateCalendar"><i class="fa fa-calendar"></i></button>
                        </div>
                </div>
                </div>
                
            </div>
            <div class="form-group required">
                <label class="control-label col-md-3 col-sm-4 col-xs-12">
                    Project Comments:
                </label>
                <div class="col-xs-12 col-sm-5 col-md-4">

                    <textarea class="form-control" placeholder="Project Comments" ng-model="confirmInfo.editProjectInfo.comments" tabindex="7"></textarea>
                </div>
             
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9 col-sm-9 col-xs-12">
                    <button type="submit" class="btn btn-md btn-danger " ng-click="confirmInfo.resetProjectInfo()"><i class="fa fa-times" tabindex="8"></i> &nbsp; Reset</button>
                    <!--<button type="submit" class="btn btn-md btn-primary " ng-click="confirmInfo.updateProjectInfo()"><i class="fa fa-pencil"></i> &nbsp; Update</button>-->
                </div>
            </div>
        </form>

        <hr>

        <h4 class="heading-border"> Sites  Info</h4>
        <div class="sitestable overflow-auto">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Property # </th>
                        <th>Site Name </th>
                        <th>Address, City, State or Province, Zip</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Report template</th>
                        <th>Consultant</th>
                        <th>Fee</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in confirmInfo.tableArr">
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{data.locationObj.propertyNumber}}</td>
                        <td>{{data.locationObj.name}}</td>
                        <td>{{data.locationObj.address1}}</td>
                        <td>{{data.contactObj.name}}</td>
                        <td>{{data.contactObj.email}}</td>
                        <td>{{data.templateObj.name}}</td>
                        <td>{{data.consultantObj.name}}</td>
                        <td>{{data.fee}}</td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle" data-original-title="" title="">
                                    Action
                                    <span class="caret">
                                        </span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a ng-click="confirmInfo.editSiteInfo(data, $index)"><i class="fa fa-pencil"></i>&nbsp;  Edit</a>
                                    </li>
                                    <li>
                                        <a ng-click="confirmInfo.deleteReport(data)"><i class="fa fa-times text-danger"></i>&nbsp; Delete Report</a>
                                    </li>

                                    <li>
                                        <a ng-click="confirmInfo.deleteReport(data, true)"><i class="fa fa-times text-danger"></i>&nbsp; Delete Site</a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>


                </tbody>
            </table>


        </div>




        <!-- right panel end-->
    </div>

    <script type="text/ng-template" id="editSiteInfo.html">

        <div class="modal-header dividerline">
            <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Site Info</h4>
        </div>

        <form name="ContactListForm" novalidate>
            <div class="modal-body ">

                
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                            <label class="control-label">
                                Property Name:
                            </label>
                            <input type="text" class="form-control" ng-model="modalObjContainer.data.locationObj.name" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                
               
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                            <label class="control-label">
                                Address:<span class="text-danger"> * </span>
                            </label>
                            <input type="text" class="form-control" ng-model="modalObjContainer.data.locationObj.address1" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                            <input type="text" class="form-control" ng-model="modalObjContainer.data.locationObj.address2">
                            </div>
                        </div>
                    </div>

                
                
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                            <label class="control-label">
                                City:<span class="text-danger">*</span>
                            </label>

                            <input type="text" class="form-control" placeholder="City" required ng-model="modalObjContainer.data.locationObj.city">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                            <label class="control-label">
                                State or Province:<span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="State or Province" required ng-model="modalObjContainer.data.locationObj.state">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                            <label class="control-label">
                                Zip:<span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Zip" required ng-model="modalObjContainer.data.locationObj.zip">
                            </div>
                        </div>
                    </div>
               


               
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                            <label class="control-label">
                                Contact Name:
                            </label>
                            <input type="text" class="form-control" ng-model="modalObjContainer.data.contactObj.name">
                            </div>
                        </div>

                        <div class=" col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                            <label class="control-label">
                                Contact Email:
                            </label>
                            <input type="text" class="form-control" ng-model="modalObjContainer.data.contactObj.email">
                            </div>
                        </div>

                    </div>
               


               
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                            <label class="control-label">
                                Report Template:
                            </label>
                            <select ng-model="modalObjContainer.data.templateObj" class="form-control" data-ng-options="template as template.name for template in lenderPortfolio.loadData.templates"></select>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                            <label class="control-label">
                                Language Library:
                            </label>
                            <select ng-model="modalObjContainer.data.libraryObj" class="form-control" data-ng-options="lib as lib.name for lib in lenderPortfolio.loadData.libraries | filter: lib.reportType = modalObjContainer.data.templateObj.reportType"></select>
                            </div>
                        </div>

                    </div>
               
                
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                            <label class="control-label">
                                Consultant:
                            </label>
                            <select ng-model="modalObjContainer.data.consultantObj" class="form-control" data-ng-options="consultant as consultant.name for consultant in lenderPortfolio.loadData.relatedCompanies | filter: modalObjContainer.filterByContains('functions', 'Consultant')"></select>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                            <label class="control-label">
                                Fee:
                            </label>

                            <input type="text" class="form-control" ng-model="modalObjContainer.data.fee">
                            </div>
                        </div>
                    </div>
              

            </div>
        
            <div class="modal-footer">
                <button class="btn btn-link" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="editSiteInfo()">Update</button>
            </div>

        </form>
    </script>
</body>

</html>