<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>

</head>

<body>

    <div>
        <h4 class="headingmain"> Upload Site Spreadsheet</h4>

            <p>
                To upload an Excel spreadsheet containing Property Information, please complete the following steps:
                
            </p>
            <ol>
                <li>Save the Excel template : <b><a href="app/modules/PortfolioCreation/assets/propertyTemplate.xls">XLS</a></b> or <b><a href="app/modules/PortfolioCreation/assets/propertyTemplate.xlsx">XLSX</a></b> to your computer and open it from there.</li>
                <li>
                    Fill out the spreadsheet with your site information, and save your changes.
                    <br> Each site must have data entered for address, city, and state/province.
                </li>
                <li>Click the "Browse" button below these instructions and select the file that you just saved.</li>
                <li>Click the "Upload File" button.</li>
            </ol>
            <div class="" ng-controller="LenderPortfolioUploadPropertyCtrl as reportInfo">

                <div class="alert alert-danger" role="alert" id="serviceResponseDiv" ng-show="reportInfo.serviceResponseAlert">
                    <button type="button" class="close" ng-click="reportInfo.serviceResponseAlert = false;" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{reportInfo.serviceResponseText}}
                </div>

                <form class="form-horizontal">
                   
                        <div class="form-group">
                            <span class="btn btn-md btn-primary fileinput-button" ng-class="{disabled: disabled}">
                                <i class="fa fa-file-text-o"></i> Choose File <input id="file-3"
                                                                                     type="file" data-file-input="files"
                                                                                     ngf-select ngf-change="upload($files)" ngf-multiple="false" >
                            </span>
                            <!--<button type="button" class="btn btn-md btn-primary start" ng-click="attachments.Upload()">
                                <span class="glyphicon glyphicon-upload"></span> Upload File
                            </button>-->
                            <span class="AU_uploadFilename text-primary" ng-repeat="file in files">{{file.name}}</span>
                        </div>
                    
                    
                    <!--
                                        <div class="col-md-offset-3 col-md-9 col-xs-12 " style="margin-top:10px; ">
                                            <button type="submit " class="btn btn-md btn-success "> Continue</button>
                                            <button type="reset " class="btn btn-md btn-default "> Cancel This Project</button>

                                        </div>
                    -->
                </form>

            </div>
       
    </div>

</body>

</html>