
<table class="table table-striped vert-align">
  <thead>
    <tr>
      <th>Loan Type</th>
      <th>Loan Amount</th>
      <th>Property Type</th>
      <th>Suggested Action(s)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Construction Loan</td>
      <td>0- 100,000</td>
      <td>Sport/Entertainment</td>
      <td>
      <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            QuickView Site Inspection(Drive-by Site Report)
          </label>
        </div>
      <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            QuickPro Site Inspection(Comprehensive Site Report)
          </label>
      </div>
      </td>
    </tr>
    <tr>
      <td>Construction Loan</td>
      <td>0- 100,000</td>
      <td>Sport/Entertainment</td>
      <td>
      <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            QuickView Site Inspection(Drive-by Site Report)
          </label>
        </div>
      <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            QuickPro Site Inspection(Comprehensive Site Report)
          </label>
      </div>
      </td>
    </tr>
    <tr>
      <td>Construction Loan</td>
      <td>0- 100,000</td>
      <td>Sport/Entertainment</td>
      <td>
      <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            QuickView Site Inspection(Drive-by Site Report)
          </label>
        </div>
      <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            QuickPro Site Inspection(Comprehensive Site Report)
          </label>
      </div>
      </td>
    </tr>
  </tbody>
</table>

<!--
<h3 class="text-size-24">SAMPLE LOAN INFORMATION</h3>

<div class="row">
<div class="col-md-4 col-lg-4">
<form> 
  <div class="form-group">
    <label for="loanamount">Loan amount</label>
    <input type="email" class="form-control" id="loanamount" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="loantype">Loan type</label>
    <select class="form-control">
      <option>Line of Credit</option>
    </select>
  </div>
  <div class="form-group">
    <label for="propertytype">Property Type</label>
    <select class="form-control">
      <option>Residential</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">test policy</button>

</form>
</div>

<div class="col-md-12 col-lg-12">

<h3 class="text-size-24">POLICY RESULT</h3>
</div>
</div>
-->