<div class="row top-margin">
<form class="form-inline">
    <div class="col-md-4 col-lg-4">
 <div class="form-group txt-width">
        <label class="sr-only" for="startingrangevalue">Starting range value</label>
        <input type="text" class="form-control txt-width" id="startingrangevalue">
 </div>
    </div>
    <span class="pull-left">-</span>
    <div class="col-md-4 col-lg-4">
  <div class="form-group txt-width">
        <label class="sr-only" for="endingrangevalue">Ending range value</label>
        <input type="text" class="form-control txt-width" id="endingrangevalue">
    </div>
    </div>
    <div class="col-md-3 col-lg-3">
  <button type="submit" class="btn btn-danger btn-xs top-margin-5" ng-click="removeRangeTextBox($event)"><span class="glyphicon glyphicon-minus-sign"></span> remove range</button>
    </div>
</form>
</div>