<div class="col-md-3 col-lg-3 needhelppopout">
	<div class="needhelp-toggle" style="display: none;">
		<button class="btn btn-md btn-success pull-right" type="button"
			help-popup>Need Help?</button>
		<div class="clearfix"></div>
		<div class="needhelp ">
			<p>Enter your comment or question here and click send, we'll take
				care of the rest.</p>
			<form>
				<textarea type="text" class="form-control"> </textarea>
				<div class="pull-right top-margin">
					<button type="button" class="btn btn-xs btn-default" help-popup>
						NEVERMIND</button>
					<button type="button" class="btn btn-xs btn-primary">SEND
					</button>
				</div>
			</form>
			<div class="clearfix"></div>
		</div>
	</div>


	<footer>
		<div class=" Footermenu-bar1 clearfix">
			<div class="Footermenu1">
				<ul class=" list-unstyled ">
					<img class="footerlogo " src="images/Footer-logo.png"
						alt="EDR Collateral 360 logo" />
					<li><a href="#">© 2015 EDR, Inc.</a></li>
					<li>|</li>
					<li><a href="#">Terms of Service</a></li>
					<li>|</li>
					<li><a href="#">Contact Us</a></li>
					<li>|</li>
					<li><a href="#">Current Server: AWS118-1c</a></li>
				</ul>
				<ul class="Needhelp-button" ng-hide="hidebtn">
					<button id="needhelp-btn" help-btn class="btn btn-md btn-success"
						type="button">Need Help?</button>
				</ul>
			</div>
		</div>
	</footer>

</div>