
<script type="text/ng-template" id="policycreation_popup.html">

  

<div class="modal-header dividerline">
  <button type="button" class="close" aria-label="Close" ng-click="ClosePolicyCreationPopUp()"> <span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">CREATE NEW POLICY</h4>
</div>

<div class="modal-body">
      <form name = "createpolicyform" ng-submit="CreatePolicy(createpolicyform)">
       
<div  class="form-group" show-errors>
      <label for="policyname">Policy Name</label>
      <input type="text" tabindex = "1" class="form-control"
                               name="policyname" ng-model="policyname" placeholder="Policy Name" required/>
							   
                               
	
    
    </div>

<div  class="form-group" show-errors>
      <label for="policytype" >Policy Type</label>
 <select ng-model="policytype" name = "policytype" class="form-control" 
       ng-options="policytype.name as policytype.name  for policytype in policytypes"  options-disabled="policytype.isinuse for policytype in policytypes"  required>

</select>
							   
                               
	
    
    </div>

      </form>
 </div>
<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">NeverMind</button>
        <button type="submit" class="btn btn-primary" ng-click="CreatePolicy(createpolicyform)">Create Policy</button>
      </div>



</script>
