<div ng-show="AppraisalUserCtrl.IsChangePasswordFailed" ng-init="AppraisalUserCtrl.IsChangePasswordFailed=false" class="alert alert-danger alert-dismissible" role="alert">    
    <span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{AppraisalUserCtrl.ErrorMessage}}</strong>

</div>
<h4 class="text-uppercase">Password Change</h4>
<form class="form-horizontal" name="AppraiserChangePassword" novalidate>
    <div class="form-group" field-validation="Old Password">
        <label for="oldPassword" class="col-sm-2 control-label">Old password:</label>
        <div class="col-sm-3">
            <input type="password" name="oldpassword" class="form-control" ng-model="AppraisalUserCtrl.oldPassword" id="oldPassword" required>
        </div>
    </div>
    <div class="form-group" field-validation="New Password">
        <label for="newPassword" class="col-sm-2 control-label">New password:</label>
        <div class="col-sm-3">
            <input required class="form-control" ng-model="AppraisalUserCtrl.newPassword" type="password" name="newPassword" id="newPassword" ng-pattern="/^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9]).*$/">
        </div>
    </div>
    <div class="form-group" field-validation="Repeat Password">
        <label for="retype" class="col-sm-2 control-label">Retype:</label>
        <div class="col-sm-3">
            <input type="password" name="retype" required class="form-control" ng-model="AppraisalUserCtrl.retype" id="retype">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" ng-click="AppraisalUserCtrl.CancelAppraiserChangePassword()" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="AppraisalUserCtrl.ResetPassword()">Submit</button>
        </div>
    </div>
</form>