<div class="bg-image">
    <div class="container-fluid ">
        <div class="top-margin-lg">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="login-inner">
                        <div class="row">
                            <div class="col-md-4">
                                <a href=""><img class="img-responsive" src="images/logo.png"></a>
                            </div>

                            <div class="col-md-8">
                                <img class="img-responsive" src="images/taglogo.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="border-white">
                            </div>
                        </div>


                        <div>

                            <div class="row">
                                <div class="col-md-12" ng-if = "forgotPassword.default">
                                    <p><strong>PARCEL Password Reset</strong></p>
                                    <p>If you have forgotten your username or password, you can request to have your username emailed to you and to reset your password.</p>
                                    <p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
                                    <hr class="border-white">
                                    <div id="forgotPasswordAlert" class="alert" ng-show="forgotPassword.isEmailValidated" role="alert">
                                        {{forgotPassword.message}}

                                    </div>
                                    <form class="form-horizontal" name="emailValidationForm" novalidate ng-show="!forgotPassword.mailsentToUpdate">
                                        <div class="form-group emailField" field-validation="Your Email">
                                            <label class="col-sm-3 control-label">Your email address:</label>
                                            <div class="col-sm-4">
                                                <input  class="form-control" type="email" name="forgot-password-email" placeholder="Email" ng-model="forgotPassword.email" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-3 col-sm-4">
                                                <button type="button" class="btn btn-default" ng-click="forgotPassword.resetEmail()">Cancel</button>
                                                <button  type="submit" class="btn btn-primary" ng-click="forgotPassword.validateEmail(emailValidationForm)">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                    

                                </div>
                                <div class="col-md-12" ng-if = "!forgotPassword.default">
                                    <p><strong>PARCEL Password Reset</strong></p>

                                    <p>The request to reset your password was not accepted.</p>
                                    <p>If more than one hour has expired since the request was placed, resubmit your request.</p>
                                    <p>To resubmit your request please click the button below.</p>
                                    <button class="btn btn-default" ng-click="forgotPassword.cancelResubmit()">Cancel</button>
                                    <button class="btn btn-primary" ng-click="forgotPassword.reSubmit()">Resubmit Request</button>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div id="row" class="footer-container">
                        <div class="col-md-6">
                            <a href="http://edrnet.com/privacy-policy/privacy-policy">Privacy Policy</a> /

                            <a href="http://edrnet.com/terms-conditions/">Terms and Conditions</a> / &copy; 2015 Copyright <a href="http://edrnet.com/">EDR</a> / Need Help? Call 1.866.475.1272
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="http://edrnet.com/about-edr/in-the-news?display=rss">RSS</a> /
                            <a href="https://www.facebook.com/edrnet">Facebook</a> /
                            <a href="https://twitter.com/#!/Enviro_Data">Twitter</a> /
                            <a href="http://www.linkedin.com/company/edr">LinkedIn</a> /
                            <a href="http://www.youtube.com/user/EDRincvideo">YouTube</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>