<div class="bg-image">
    <div class="container-fluid ">
        <div class="top-margin-lg">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="login-inner">
                        <div class="row">
                            <div class="col-md-4">
                                <a href=""><img class="img-responsive" src="images/logo.png"></a>
                            </div>

                            <div class="col-md-8">
                                <img class="img-responsive" src="images/taglogo.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="border-white">
                            </div>
                        </div>


                        <div class="row" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
                            <div ng-if="resetPassword.isTokenValid && !resetPassword.isExpired && !resetPassword.isUsed" class="col-md-12">
                                <p><strong>PARCEL Password Reset</strong></p>
                                <p>If you have forgotten your username or password, you can reset your password here.</p>
                                <p>Please note that your new password must contain at least 8 characters, with at least one letter, one upper case letter, one numeric character, one non-alphanumeric character (symbol) and cannot contain your username.</p>

                                <hr class="border-white">
                                <form class="form-horizontal" name="parcelResetPassForm" novalidate>
                                    <div class="form-group" field-validation="New Password">

                                        <label for="reset-password-new" class="col-sm-2 control-label">New Password:</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="password" placeholder="New Password" id="reset-password-new" name="reset-password-new" ng-trim="false" ng-model="resetPassword.newPassword" ng-pattern="/^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9]).*$/" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Retype Password:</label>
                                        <div class="col-sm-4">
                                            <input class="form-control repassword" type="password" match-password ng-change="resetPassword.matchPassword(parcelResetPassForm)" placeholder="Retype Password" name="reset-password-repeat" ng-model="resetPassword.repeatPassword" ng-trim="false" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-default" ng-click="resetPassword.resetPassword()">Cancel</button>
                                            <button class="btn btn-primary" ng-mousedown="resetPassword.submitNewPassword(parcelResetPassForm)">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="alert alert-success" id="resetPasswordAlert" ng-show="resetPassword.resetPasswordSuccess" role="alert">{{resetPassword.isPasswordChangedMessage}}</div>

                            </div>

                            <div class="col-md-12" ng-if="!resetPassword.isTokenValid">
                                <p><strong>PARCEL Password Reset</strong></p>
                                <p>The password reset link you are attempting to use is invalid. Please resubmit your request to reset your password.</p>
                                
                                <div>
                                    <button class="btn btn-primary" ng-click="resetPassword.resubmitRequest()">Resubmit Request</button>
                                    <button class="btn btn-default" ng-mousedown="resetPassword.cancel()">Cancel</button>

                                </div>
                            </div>
                            <div class="col-md-12" ng-if="resetPassword.isTokenValid && resetPassword.isExpired">
                                <p><strong>PARCEL Password Reset</strong></p>
                                <p>The request to reset your password was not accepted.</p>
                                <p>If more than one hour has expired since the request was placed, resubmit your request.</p>
                                <p>To resubmit your request please click the button below.</p>

                                <div>
                                    <button class="btn btn-primary" ng-click="resetPassword.resubmitRequest()">Resubmit Request</button>
                                    <button class="btn btn-default" ng-mousedown="resetPassword.cancel()">Cancel</button>
                                </div>
                            </div>
                            <div class="col-md-12" ng-if="resetPassword.isTokenValid && resetPassword.isUsed">
                                <p><strong>PARCEL Password Reset</strong></p>
                                <p>This link has already been used please resubmit your request.</p>

                                <div>
                                    <button class="btn btn-primary" ng-click="resetPassword.resubmitRequest()">Resubmit Request</button>
                                    <button class="btn btn-default" ng-mousedown="resetPassword.cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div id="row" class="footer-container">
                        <div class="col-md-6">
                            <a href="http://edrnet.com/privacy-policy/privacy-policy">Privacy Policy</a> /

                            <a href="http://edrnet.com/terms-conditions/">Terms and Conditions</a> / &copy; 2015 Copyright <a href="http://edrnet.com/">EDR</a> / Need Help? Call 1.866.475.1272
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="http://edrnet.com/about-edr/in-the-news?display=rss">RSS</a> /
                            <a href="https://www.facebook.com/edrnet">Facebook</a> /
                            <a href="https://twitter.com/#!/Enviro_Data">Twitter</a> /
                            <a href="http://www.linkedin.com/company/edr">LinkedIn</a> /
                            <a href="http://www.youtube.com/user/EDRincvideo">YouTube</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>