<script type="text/ng-template" id="reset-password-modal.html">
  <form name="resetPasswordForm">
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="authModalInst.closeModal()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Reset Password For {{authModalInst.appName}}</h4>
    </div>

    <div class="modal-body">
		<div  ng-show="authModalInst.resetPass">
			
            <div class="form-group" field-validation="Your new password">
                <label class="help-block" for="forgot-password-new">New Password</label>
                <input type="password" class="form-control" name="reset-password-new" ng-model="authModalInst.newPassword" placeholder="New Password" ng-pattern="/^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@#$%^&+=]).*$/" required>
            </div>
            <div class="form-group" field-validation="Repeat new password">
                <label class="help-block" for="forgot-password-repeat">Repeat New Password</label>
                <input type="password" class="form-control" name="reset-password-repeat" ng-model="authModalInst.repeatPassword" placeholder="Repeat New Password" required>
            </div>
       
		</div>
		<div ng-show="authModalInst.resetPassSubmit" >
            <div class="bottom-margin">
                <p>You have successfully reset your password. Use the buttons below to Sign In to your account or you can close this window if you are done for now. If you have any problems, please contact client care at 1-800-352-0050 or support@edrnet.com.</p>
            </div>
		</div>
        
    </div>
  
    <div class="modal-footer" >
		<div ng-show="authModalInst.resetPass">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="authModalInst.closeModal()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="authModalInst.submitNewPassword(resetPasswordForm)">Reset</button>
    </div>

    <div ng-show="authModalInst.resetPassSubmit">
        <button type="button" class="btn btn-primary" ng-click="authModalInst.closeModal()">OK</button>
    </div>
		</div>
	 </form>
</script>