<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Report Output Setup</title>
 
</head>

<body>
	<script id="repSetupDelete.html" type="text/ng-template">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" ng-click="CancelDelete()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Delete Report Setup </h4>
		</div>

		<form name="myFormAddTemplate" novalidate>

			<div class="modal-body ">
				<p><strong> You are about to delete the " {{ReportSetupName}} ". Are you sure you want to delete it?</strong></p>

			</div>

			<div class="modal-footer">

				<button class="btn btn-md btn-default" role="button" ng-click="CancelDelete()">Cancel</button>
				<button class="btn btn-md btn-primary" role="button" ng-click="deleteReport()">Continue </button>

			</div>
		</form>

	</script>

	<script id="repSetupRename.html" type="text/ng-template">

		<div class="modal-header ">
			<button type="button" class="close" data-dismiss="modal" ng-click="CancelDelete()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Rename Report Setup: </h4>
		</div>


		<form name="myFormAddTemplate" novalidate>

			<div class="modal-body">

				<div class="form-group required" show-errors>
					<label for="renameReportTemplate" class="control-label">Enter a new name for this Report Setup:</label>  
					<input id="renameReportTemplate" name="renameReportTemplate" class="form-control" type="text" placeholder="Enter a new name" ng-model="cloned.name" required>

				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-md btn-default" data-dismiss="modal" ng-click="CancelDelete()">Cancel</button>
				<button type="button" class="btn btn-md btn-primary" ng-click="renameReport(myFormAddTemplate)">Continue</button>
			</div>
		</form>

	</script>


	<script id="repSetupDuplicate.html" type="text/ng-template">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" ng-click="CancelDelete()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Duplicate Report Output Setup </h4>
		</div>


		<form name="myFormAddTemplate" class="form-horizontal">

			<div class="modal-body ">
				<div class="form-group required">
					<label for="copyfrom" class="col-md-3 col-lg-3 col-xs-12 control-label">Copy From:</label>
					<div class="col-md-5 col-lg-7 col-xs-11" show-errors>
						<select id="copyfrom" name="setupCopyFrom" class="form-control" ng-model="report" ng-options="report.name for report in reportSetup.setupProperties.reportSection.coll" required ng-change="duplicateError = ''">
							<option value="">Select Report Output Setup</option>
						</select>
					</div>
					 
				</div>

				<div class="form-group">
					<label for="copyto" class="col-md-3 col-lg-3 col-xs-12 control-label">Copy To:</label>
					<div class="col-md-12 col-lg-7 col-xs-12">
						<select id="copyto" name="copyTo" class="form-control" ng-init="copyToAction='Existing'" ng-model="copyToAction" ng-change="duplicateError = ''">
							<option value="Existing">Existing</option>
							<option value="New">New</option>
						</select>
					</div>

				</div>

				<div class="form-group required">
					<label for="Existing" class="col-md-3 col-lg-3 col-xs-12 control-label">{{copyToAction}}</label>
					<div class=" col-md-11 col-lg-7 col-xs-11" form-input-validation="(myFormAddTemplate.newName && myFormAddTemplate.newName.$invalid) || (myFormAddTemplate.copyTo && myFormAddTemplate.copyTo.$invalid)">
						<input class="form-control" type="text" placeholder="Enter a name" ng-show="copyToAction == 'New'" ng-model="toCreateReport" name="newName" ng-required="copyToAction == 'New'">
						<select id="Existing" name="copyTo" class="form-control" ng-init="copyToReport='';" ng-model="copyToReport" ng-options="report.name for report in reportSetup.setupProperties.reportSection.coll" ng-show="copyToAction == 'Existing'" ng-required="copyToAction == 'Existing'" ng-change="duplicateError = ''">
							<option value="">Select Report Output Setup</option>
						</select>

					</div>
				 
				</div>

			</div>

			<div ng-show="duplicateError != '' && duplicateError != null && duplicateError != undefined" class="alert alert-danger" role="alert" ng-class="danger">
				{{duplicateError}}
			</div>
			<div class="modal-footer ">
				<button type="button" class="btn btn-md btn-default" data-dismiss="modal" ng-click="CancelDelete()">Cancel</button>
				<button type="button" class="btn btn-md btn-primary" ng-click="duplicate(myFormAddTemplate)">Continue</button>
			</div>
		</form>

	</script>


	<div class="container-fluid" ng-controller="ParcelUI.ReportOutputSetup.ReportSetupCtrl as reportSetup">
		<div class="panel panel-default">
		<div class="panel-body">
		<h2 class="page-header">Report Output Setup</h2>
        <span class="pull-right">	
            <button type="reset " class="btn btn-md btn-default " tabindex="-1">Cancel</button>
            <button type="submit " class="btn btn-md btn-primary " ng-click="reportSetup.save()" tabindex="-1"> Save Changes</button>
        </span>
		<form class="form-horizontal">
			<div class="form-group ">
				<label for="company" class="control-label col-md-2 col-sm-2 col-xs-12">
					Company:
				</label>
				<div class="col-xs-12 col-sm-3 col-md-4">
					<select id="company" name="companyID" class="form-control" ng-init="reportSetup.selectedCompanyId = 0" ng-model="reportSetup.selectedCompanyId" ng-change="reportSetup.selectedCompanyChanged()" tabindex="1" focus-if>
						<option value="0" ng-if="!reportSetup.selectedCompanyId">Select a company</option>
						<option value="5572"> Land Environmental Group</option>
						<option value="5684"> Lauenstein &amp; Associates</option>
						<option value="3099">123 ENG Test</option>
						<option value="7590">14555 Blanco Road</option>
						<option value="5745">172d Airlift Wing MS ANG</option>
						<option value="5666">1st Bank Yuma</option>
						<option value="5315">1st Colonial Community Bank</option>
						<option value="5857">1st Constitution Bank</option>
						<option value="4991">1st National Bank of Demo</option>
						<option value="8014">1st National Bank of South Florida</option>
						<option value="5829">1st National Community Bank</option>
						<option value="9599">1st Security Bank of Washington</option>
						<option value="5926">1st Source Bank</option>
						<option value="7917">21 Environmental</option>
						<option value="4734">2G Environmental, LLC</option>
						<option value="6477">3 Kings Environmental</option>
						<option value="4735">3 Kings Environmental, Inc.</option>
						<option value="3098">3065866: Vince Grandinetti</option>
						<option value="3206">3126775: Monty Bruner</option>
						<option value="4367">3266541: Benjamin Ford</option>
						<option value="5048">3434731: Paul Gebhard</option>
					</select>
				</div>
			</div>

			<div class="form-group" ng-if="reportSetup.setupProperties.reportSection.coll && reportSetup.setupProperties.reportSection.coll.length">
				<label for="reportsetup" class="control-label col-md-2 col-sm-2 col-xs-12">
					Report Setup:
				</label>
				<div class="col-xs-12 col-sm-3 col-md-4">
					<select id="reportsetup" name="setupID" class="form-control" ng-model="reportSetup.setupProperties.reportSection.selected" ng-options="report.name for report in reportSetup.setupProperties.reportSection.coll track by report.reportOutputSetupID" ng-change="reportSetup.setupProperties.reportSectionChanged()" tabindex="2">
						<option ng-if="!reportSetup.setupProperties.reportSection.selected" value="">Select a Report Output Setup...</option>

					</select>
				</div>
			</div>

			<div class="form-group" ng-show="reportSetup.setupProperties.reportSection.setupReady">

				<label class="control-label col-md-2 col-sm-2 col-xs-12">Tools:</label>
				<div class="col-xs-12 col-sm-3 col-md-4">
					<button data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-md btn-default" ng-click="reportSetup.setupProperties.toolOptions.selectAction('delete')" tabindex="3"><i class="fa fa-times text-danger icon-16"></i></button>
					<button data-toggle="tooltip" data-placement="top" title="Rename" class="btn btn-md btn-default" ng-click="reportSetup.setupProperties.toolOptions.selectAction('rename')" tabindex="4"><i class="fa fa-terminal text-info icon-16"></i></button>
					<button data-toggle="tooltip" data-placement="top" title="Duplicate" class="btn btn-md btn-default" ng-click="reportSetup.setupProperties.toolOptions.selectAction('duplicate')" tabindex="5"><i class="fa fa-file text-success icon-16"></i></button>
				</div>

			</div>
		</form>
		<div class="alert" ng-class="reportSetup.msgType" role="alert" id="serviceResponseDiv" ng-show="reportSetup.serviceResponseAlert">
			<button type="button" class="close" ng-click="reportSetup.serviceResponseAlert = false;" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{{reportSetup.serviceResponseText}}
		</div>
		<hr>
		<div ng-show="reportSetup.setupProperties.reportSection.setupReady">

			<div ng-include src="'app/modules/ReportSetup/views/GlobalPageSettings.html'"></div>
			<hr>

			<div ng-include src="'app/modules/ReportSetup/views/PCASpecificSettings.html'"></div>
			<hr>

			<div ng-include src="'app/modules/ReportSetup/views/PageHeaderSettings.html'"></div>
			<hr>

			<div ng-include src="'app/modules/ReportSetup/views/ReportSectionSettings.html'"></div>
			<hr>

			<div ng-include src="'app/modules/ReportSetup/views/ReportTableSettings.html'"></div>
			<hr>
			<div ng-include src="'app/modules/ReportSetup/views/PageFooterSettings.html'"></div>
			<hr>

			<div class="form-group text-center">
				<button type="reset " class="btn btn-md btn-default "> Cancel</button>
				<button type="submit " class="btn btn-md btn-primary " ng-click="reportSetup.save()"> Save Changes</button>

			</div>

			<div ng-show="false">
				<hr>
				<div class="" id="applied">
					<span>Test html </span>
				</div>
			</div>
		</div>
		</div>
		</div>
	</div>

</body>

</html>