<include-sections parcel-writer="parcelWriter" ng-repeat="(parentsectionindex,parentsection) in subsections" ng-if="parentsection.sectionName" parentsection='parentsection'>

    <h4 class="instructionPopover">{{parentsection.sectionNumber + ' ' + parentsection.sectionName}}&nbsp;<a ng-if="checkShowInstructionsChild(parentsection)" auto-close='1' role="button" data-toggle="popover" title="Instructions" data-placement="right"  data-template="displayRecSectionInstrs.html" bs-popover><i class="pointer fa fa-lg fa-info-circle text-warning "></i></a></h4>
    <em ng-if="checkOptionsRecursive(parentsection)" class="text-muted">No default language available for this report section.</em>

    <div class="row" ng-if="parentsection.languages && parentsection.languages.length">

        <div id="language.languageID" ng-if=" language.category &&language.category !='Instructions'" ng-repeat="language in parentsection.languages" class="col-md-4">

            <div class="checkbox">
                <label ng-class="{'default-pointer text-muted nopadding': language.isAddedOnProjectStartup}">

                    <input ng-if="!language.isAddedOnProjectStartup" type="checkbox" value="" ng-model="language.isChecked" ng-change="checkIsRecursiveChecked(language)">

                    <span ng-class="{'pull-left' : language.isAddedOnProjectStartup}" ng-bind-html="bindLanguage(language)"></span>&nbsp;
                    
                </label>
                <a auto-close='1' role="button" data-toggle="popover" title="Language Text" data-placement="bottom" data-content="{{language.text}}" data-template="displayRecSectionOptions.html" bs-popover> show more </a>
            </div>
        </div>
    </div>

</include-sections>

<script type="text/ng-template" id="displayRecSectionOptions.html">
        <div  class="popover" id = "displayRecSectionOptions">
            <div class="arrow"></div> 
            <h3 class="popover-title"><span ng-bind="title" ng-show="title"></span> <button ng-click ="$hide()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></h3>
			 
            <div class="popover-content reportWriteContent">
                         
                    <p ng-bind-html="content"></p>
                     
                    </div>
			<div class="popover-footer" ng-if="!language.isAddedOnProjectStartup">
						<hr>
                        <button ng-click = "$hide()" type="button" class="btn btn-md btn-default">Cancel</button>
                        <button ng-if = "!language.isChecked" ng-click = "popover.selectOption($hide,language)" type="button" class="btn btn-md btn-primary closebtn">Select</button>
                        <button ng-if = "language.isChecked" ng-click = "$parent.popover.deSelectOption($hide,language)" type="button" class="btn btn-md btn-primary closebtn">Deselect</button>
                    </div>
            </div>
 </script>
                        
<script type="text/ng-template" id="displayRecSectionInstrs.html">
        <div class="popover" id = "displayRecSectionInstrs">
            <div class="arrow"></div>        
            <h3 class="popover-title"><span ng-bind="title" ng-show="title"></span> <button ng-click ="$hide()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></h3>
            
            <div class="popover-content reportWriteContent" ng-model="content">                     
                    <p class="text-black" ng-bind-html="popover.getInstrContent(parentsection)"></p>
            </div>
    </div>
</script>
