<div ng-controller="AssembleController as assemble" cg-busy="assemble.waitingProcessResources">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 nopadding">
                <ul class="nav nav-tabs nav-tabs-sm report-write-tab" ng-init="reportTypeSelected = 'prevGeneratedReports';">
                    <li role="presentation" ng-click="assemble.openLeftPanel()" class="active"><a class="pointer tabfont" ng-click="reportTypeSelected = 'prevGeneratedReports';setTooltipClass();" aria-controls="prevGenerated" role="tab" data-toggle="tab">Previously Generated Reports</a></li>
                    <li role="presentation" ng-click="assemble.openLeftPanel()"><a class="pointer tabfont" ng-click="reportTypeSelected = 'prevEmailedReports';setTooltipClass();" aria-controls="prevEmailed" role="tab" data-toggle="tab">Previously E-mailed Reports</a></li>

                </ul>
            </div>
        </div>
        <div class="row">

            <div id="leftContent" class="nopadding" ng-switch on="reportTypeSelected">
                <div ng-switch-when="prevGeneratedReports" class="leftContent nopadding col-md-4" id="prevGenerated">
                    <div class="alert alert-info" ng-show="assemble.prevGeneratedDownloadArr.length > 0">
                        This list displays previously downloaded deliverables.
                        <br> Click the Download button to view the report.</div>
                    <div class="alert alert-info" ng-show="assemble.prevGeneratedDownloadArr.length == 0">No previously generated deliverables</div>

                    <div class="scrollDivleft">
                        <table class="table table-striped">
                            <tbody>
                                <tr ng-repeat="reportData in assemble.prevGeneratedDownloadArr">
                                    <td>
                                        By {{reportData.userFullName}} ({{reportData.companyName}})
                                        <br> on {{reportData.generationDateTime}} </td>
                                    <td>
                                        <a ng-click="assemble.openGeneratedPDF(reportData.downloadURL)" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Download"><span class="glyphicon glyphicon-download-alt">
                                           </span></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div ng-switch-when="prevEmailedReports" class="leftContent nopadding col-md-4" id="prevEmailed">
                    <div class="alert alert-info" ng-show="assemble.prevGeneratedEmailedArr.length > 0">
                        This list displays emailed deliverables. Click the Disable button to disable a link.</div>
                    <div class="alert alert-info" ng-show="assemble.prevGeneratedEmailedArr.length == 0">No email links have been sent for this report</div>
                    <div class="scrollDivleft">
                        <table class="table table-striped">
                            <tbody>
                                <tr ng-repeat="reportData in assemble.prevGeneratedEmailedArr">
                                    <td>
                                        Sent to: <i>{{reportData.sentTo}}</i>
                                        <br> by {{reportData.userFullName}} on {{reportData.generationDateTime}}
                                        <br>
                                        <div ng-show="reportData.active"><strong>Expires:</strong> on {{reportData.expirationDateTime}}</div>
                                        <div ng-show="!reportData.active"><strong>Deactivated by:</strong> {{reportData.deactivationUser}} on {{reportData.deactivationDateTime}}</div>
                                    </td>
                                    <td>
                                        <button ng-show="reportData.active" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Disable this link so that recipients cannot use it to download the report." ng-click="assemble.disableReport(reportData)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <left-panel-slide-toggle></left-panel-slide-toggle>
            </div>


            <div id="rightContent" class="col-md-8">
                <div class="alert alert-info" role="alert" id="serviceResponseDiv" ng-show="assemble.serviceResponseAlert">

                    <button type="button" class="close" ng-click="assemble.serviceResponseAlert = false;" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    This process will only add PDF documents. To add other document types (.doc, .xls, etc), download and append manually.
                </div>                
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="pull-left">
                                <div class="btn-group" data-toggle="buttons" ng-click="assemble.selectedAll = !assemble.selectedAll; assemble.checkAll();">
                                    <label id="lblSelAll" class="btn btn-default btn-sm">
                                        <input id="selAll" class="btn" type="checkbox" ng-model="assemble.selectedAll" />{{assemble.selectAllText}}
                                    </label>
                                </div>
                                <!--
                            <div data-toggle="buttons" ng-click="assemble.selectedAll = !assemble.selectedAll; assemble.checkAll();">
                                <label class="btn btn-default btn-sm">
                                    <input id="selAll" class="btn" type="checkbox" ng-model="assemble.selectedAll" />Select All
                                </label>
                            </div>
-->
                            </div>

                            <div class=" pull-right">
                                <button type="submit" id="btnDownloadPDF" class="btn btn-md btn-primary" ng-click="assemble.dowloadPDF()" ng-disabled="assemble.actionButtons">Download PDF</button>
                                <button type="submit" id="btnEmailLinkToClient" class="btn btn-md btn-primary" ng-click="assemble.openEmailLink()" ng-disabled="assemble.actionButtons">Email Link to Client</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="scrollDiv border-top-sm">
                    <div ng-repeat="section in assemble.assembleSectionsArr">
                        <div class="row">
                            <div class="col-md-4 col-xs-12" ng-if="section.visibleOnUI">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-click="assemble.assembleSectionClick(section)" ng-model="section.Selected"> {{section.label}}
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-8 col-xs-12" ng-if="section.visibleOnUI && section.generationType != 'EXSUMDETAILSREPORT' && section.generationType != 'TOC'">
                                <button id="{{section.deliverableSectionGuid}}_view" ng-disabled="!section.allowFileUpload" data-placement="top" data-toggle="tooltip" data-container="body" title="{{!section.allowFileUpload? '' : 'View'}}" class="btn btn-primary btn-sm tooltip-hide" ng-click="viewSectionPDF(section);"><span class="glyphicon glyphicon-eye-open" data-original-title="{{!section.allowFileUpload? '' : 'View'}}"></span></button>
                                <button id="{{section.deliverableSectionGuid}}_edit" ng-disabled="!section.allowFileUpload || section.uploadedFileGuid" data-placement="top" data-toggle="tooltip" data-container="body" title="{{section.viewURL ? '' : 'Edit'}}" class="btn btn-primary btn-sm tooltip-hide" ng-click="openEditPopup(section.editUI,section.generationType)" data-original-title="{{section.viewURL ? '' : 'Edit'}}"><span class="glyphicon glyphicon-edit"></span></button>
                                <button id="{{section.deliverableSectionGuid}}_upload" ng-disabled="!section.allowFileUpload || section.uploadedFileGuid" data-placement="top" data-toggle="tooltip" data-container="body" title="{{section.viewURL ? '' : 'Upload'}}" class="btn btn-primary btn-sm tooltip-hide" ng-click="openUpload(section);" data-container="body" data-original-title="{{section.viewURL ? '' : 'Upload'}}"><span class="glyphicon glyphicon-upload"></span></button>
                                <button id="{{section.deliverableSectionGuid}}_delete" ng-disabled="!section.allowFileUpload || !section.uploadedFileGuid" data-placement="top" data-toggle="tooltip" data-container="body" title="{{section.viewURL ? 'Delete Document' : ''}}" class="btn btn-danger btn-sm tooltip-hide" ng-click="assemble.openDeletePopup(section.deliverableSectionGuid);" data-container="body" data-original-title="{{section.viewURL ? 'Delete Document' : ''}}"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-condensend table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>Appendices</th>
                                    <th># of Files</th>
                                    <th># of Pages</th>
                                    <th>Total Size</th>
                                </tr>
                                <tr ng-repeat="appendicesData in assemble.appendicesSectionsArr">
                                    <td>
                                        <div class="col-md-8 col-xs-12">
                                            <div class="checkbox">
                                                <label>
                                                    <!--<input id="{{appendicesData.sectionGUID}}-sectionClick" type="checkbox" ng-model="appendicesData.Selected" ng-click="assemble.appendicesSectionClick()"> {{appendicesData.sectionNumber}}<span ng-if="appendicesData.sectionNumber != ''">:</span> {{appendicesData.sectionName}}-->
                                                    <input id="{{appendicesData.sectionGUID}}-sectionClick" type="checkbox" ng-model="appendicesData.Selected" ng-click="assemble.appendicesSectionClick(appendicesData)"> {{appendicesData.number}}<span ng-if="appendicesData.number != '' && appendicesData.number != null">:</span> {{appendicesData.name}}
                                                </label>
                                            </div>
                                            <div ng-show="appendicesData.hasPhotos">
                                                <div class="radio">
                                                    <label for="{{appendicesData.sectionGUID}}-portrait">
                                                        <input type="radio" name="radio" id="{{appendicesData.sectionGUID}}-portrait" value="portrait" ng-click="assemble.photographCheckChange('portrait', appendicesData)">Portrait</label>
                                                </div>
                                                <div class="radio">
                                                    <label for="{{appendicesData.sectionGUID}}-landscape">
                                                        <input type="radio" name="radio" id="{{appendicesData.sectionGUID}}-landscape" value="landscape" ng-click="assemble.photographCheckChange('landscape', appendicesData)">Landscape</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="tableVerticaleMiddle">
                                        <span ng-if="appendicesData.statistics.numFiles > 0">
                                            {{appendicesData.statistics.numFiles}}
                                        </span>
                                        <span ng-if="appendicesData.statistics.numFiles == 0">
                                            <i>No documents listed.</i>
                                        </span>
                                    </td>
                                    <td class="tableVerticaleMiddle">
                                        <span ng-if="appendicesData.statistics.numPages > 0 && !appendicesData.hasPhotos">
                                            {{appendicesData.statistics.numPages}}
                                        </span>
                                        <span ng-if="appendicesData.hasPhotos">
                                            {{appendicesData.statistics.photoPagesPortrait}} / {{appendicesData.statistics.photoPagesLandscape}}
                                        </span>
                                    </td>
                                    <td class="tableVerticaleMiddle">
                                        <span ng-if="appendicesData.statistics.totalSizeKB > 0">
                                            {{appendicesData.statistics.totalSizeKB | formatSize:2}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="alert alert-info">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="assemble.ReorderLettering" />Reorder lettering of checked appendices. <a ng-click="openWhatsThis()">What's This?</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="whatsThis.html" type="text/ng-template">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reorder lettering of checked appendices</h4>
    </div>
    <form name="formWhatsThis" novalidate>
        <div class="modal-body">

            <p> This checkbox allows you to control the lettering/numbering of your appendices when all appendices are not included in the deliverable.</p>
            <p>When it is checked, appendix letters will be adjusted so that all letters are in consecutive order.</p>
            <p>In other words, if you check appendices A and C, Appendix 'C' will be re-lettered as Appendix 'B' in the generated PDF report.</p>
            <p>The reordered appendices will use your template's naming convention. For example, if the appendices in your template have been numbered 11.1, 11.2, 11.3, etc, that convention will be used when reordering.</p>
            <p><strong>Users should be careful that any references to appendix letters in the body of their report match after the lettering is adjusted.</strong></p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Cancel()">OK</button>
        </div>
    </form>
</script>

<script id="editTransmittalLetter.html" type="text/ng-template">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Transmittal Letter</h4>
    </div>
    <form name="formEditTransmittalLetter" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="control-label" for="date">
                                <input id="date" type="checkbox" ng-model="obj.date_check"> Date
                            </label>
                        </div>
                        <div class="input-group date"  data-provide="datepicker" data-date-autoclose="true" data-date-today-highlight="true" data-date-start-date="obj.transmittalDate" data-date-format="mm/dd/yyyy">
                        <input id="transmittalDate" name="transmittalDate" type="text" class="form-control" ng-model="obj.transmittalDate" >
                        <div class="input-group-btn">
                             <button type="button" class="btn btn-default dateCalendar"><i class="fa fa-calendar"></i></button>
                        </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="control-label" for="to">
                                <input id="date" type="checkbox" ng-model="obj.to_check"> To
                            </label>
                        </div>
                        <textarea class="form-control" rows="5" ng-model="obj.to"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="salutation">Salutation</label>
                        <textarea class="form-control" id="salutation" rows="5" ng-model="obj.salutation"></textarea>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea class="form-control" id="body" rows="5" ng-model="obj.body"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="closing">Closing&nbsp;&nbsp;

                            <a class="pointer" data-placement="bottom" data-toggle="tooltip" title="Sign Digitally" ng-click="signClosing()"><span class="glyphicon glyphicon-pencil"></span></a>

                        </label>
                        <textarea class="form-control" id="closing" rows="5" ng-model="obj.closing"></textarea>
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label class="control-label" for="signature1">
                                <input type="checkbox" ng-model="obj.signature1_check"> Signature 1
                                <a class="pointer" data-placement="bottom" data-toggle="tooltip" title="Sign Digitally" ng-click="signSignature1()"><span class="glyphicon glyphicon-pencil"></span></a>
                            </label>
                        </div>

                        <textarea class="form-control" id="signature1" rows="5" ng-model="obj.signature1"></textarea>
                    </div>
                    <div class="col-md-4">
                        <label for="signature2">
                            <input type="checkbox" ng-model="obj.signature2_check"> Signature 2 &nbsp;&nbsp;<a class="pointer" data-placement="bottom" data-toggle="tooltip" title="Sign Digitally" ng-click="signSignature2()"><span class="glyphicon glyphicon-pencil"></span></a></label>
                        <textarea class="form-control" id="signature2" rows="5" ng-model="obj.signature2"></textarea>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal" ng-click="Cancel()">Cancel</button>
            <button class="btn btn-md btn-primary" type="button" ng-click="saveTransmittalLetter()">Save</button>
        </div>
    </form>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>

</script>

<script id="editCoverPage.html" type="text/ng-template">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Cover Page</h4>
    </div>
    <form name="formWhatsThis" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reporttitle">Report Title</label>
                        <input type="text" class="form-control" id="reporttitle" ng-model="obj.title1">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="obj.title2">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="siteaddress">Site Address</label>
                        <textarea class="form-control" id="siteaddress" rows="3" ng-model="obj.siteAddress"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="city">City</label>
                                <input type="text" id="city" class="form-control" ng-model="obj.siteCity">
                            </div>
                            <div class="col-md-3">
                                <label for="state">State</label>
                                <input type="text" id="state" class="form-control" ng-model="obj.siteState">
                            </div>
                            <div class="col-md-3">
                                <label for="zip">Zip</label>
                                <input type="text" id="zip" class="form-control" ng-model="obj.siteZip">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="preparedfor">Prepared for</label>
                        <textarea class="form-control" rows="1" id="preparedFor" ng-model="obj.preparedFor"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea class="form-control" rows="3" id="address" ng-model="obj.preparedForAddress"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="city_1">City</label>
                                <input type="text" id="city_1" class="form-control" ng-model="obj.preparedForCity">
                            </div>
                            <div class="col-md-3">
                                <label for="state_1">State</label>
                                <input type="text" id="state_1" class="form-control" ng-model="obj.preparedForState">
                            </div>
                            <div class="col-md-3">
                                <label for="zip_1">Zip</label>
                                <input type="text" id="zip_1" class="form-control" ng-model="obj.preparedForZip">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="preparedby">Prepared by</label>
                        <input type="text" class="form-control" id="preparedby" ng-model="obj.preparedBy">

                    </div>
                    <div class="form-group">
                        <label for="address1">Address</label>
                        <textarea class="form-control" id="address1" rows="3" ng-model="obj.preparedByAddress"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="city_2">City</label>
                                <input type="text" id="city_2" class="form-control" ng-model="obj.preparedByCity">
                            </div>
                            <div class="col-md-3">
                                <label for="state_2">State</label>
                                <input type="text" id="state_2" class="form-control" ng-model="obj.preparedByState">
                            </div>
                            <div class="col-md-3">
                                <label for="zip_2">Zip</label>
                                <input type="text" id="zip_2" class="form-control" ng-model="obj.preparedByZip">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="jobnumber">Job Number</label>
                        <input type="text" class="form-control" id="jobnumber" ng-model="obj.jobNumber">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reportdate">Report Date</label>
                            <div class="input-group date"  data-provide="datepicker" data-date-autoclose="true" data-date-today-highlight="true" data-date-start-date="obj.coverReportDate" data-date-format="mm/dd/yyyy">
                        <input id="coverReportDate" name="coverReportDate" type="text" class="form-control" ng-model="obj.coverReportDate" >
                        <div class="input-group-btn">
                             <button type="button" class="btn btn-default dateCalendar"><i class="fa fa-calendar"></i></button>
                        </div>
                        </div>  
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-click="saveCoverPage()">Save</button>

        </div>

    </form>
</script>

<script id="upload.html" type="text/ng-template">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a {{uploadLetter}}</h4>
    </div>
    <form name="formUploadTransmittalLetter" novalidate>
        <div class="modal-body">

            <p>
                {{uploadLetter}} must be in PDF format.
            </p>
            <div class="form-group">
                <div class="btn btn-md btn-primary fileinput-button">
                    <i class="fa fa-file-text-o"></i> Attach
                    <div file-select="$parent.file" ngf-select ng-model="$parent.file"></div>
                </div>
                <button class="btn btn-primary" ng-click="uploadFiles();">{{btnText}}</button>
                <span class="AU_uploadFilename text-primary">{{$parent.file.name}}</span>
            </div>

            <div class="alert alert-danger" role="alert" id="serviceResponseDiv" ng-show="fileErrorDanger">
                <button type="button" class="close" ng-click="hideErrorMessage()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{fileErrorTextDanger}}
            </div>
            <!-- The global file processing state -->


        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Cancel()">Cancel</button>


        </div>
    </form>
</script>

<script id="deleteDocument.html" type="text/ng-template">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="CancelDelete()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Document</h4>
    </div>


    <form name="myFormAddTemplate1" novalidate>

        <div class="modal-body ">

            <strong>This will delete the attached document. Are you sure you want to continue?</strong>

        </div>
        <div class="modal-footer">
            <a class="btn btn-default" role="button" ng-click="CancelDelete()">Cancel</a>
            <a class="btn btn-primary" role="button" ng-click="deleteDocument()">Continue</a>
        </div>
    </form>

</script>