 
<h4>Footer:</h4>
<div class="row">
        <!-- Left -->
        <div class="col-md-4 col-lg-4 col-xs-12">
             <div class="panel panel-default">
            <div class="panel-body">            
            <h4>Left</h4>            
            <div class="row">
            <div class="form-group col-xs-6 col-md-6">
                <div class="form-group">
                    <select class="form-control">
                        <option value="">Add Dynamic Content...</option>
                        <option value="{compname}">Your Company's Name</option>
                        <option value="{credo}">Your Company's Credo</option>
                        <option value="{logo}">Your Company's Logo</option>
                        <option value="{cAddress}">Your Company's Address</option>
                        <option value="{cCity}">Your Company's City</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="leftFooter" rows="3" cols="36">Phase I Report {siteAddress} {siteCity}, {siteState} {siteZip}</textarea>
                </div>
            </div>
           </div>
            <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <select class="form-control">
                        <option>Arial</option>
                        <option selected="">Helvetica</option>
                        <option>Times</option>
                        <option>Americana</option>
                        <option>Times New Roman</option>
                        <option>Book Antiqua</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option>8</option>
                        <option>9</option>
                        <option selected="">10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                <select class="form-control" multiple="">
                    <option value="B" selected="">Bold</option>
                    <option value="I">Italic</option>
                    <option value="U">Underline</option>
                </select>
            </div>
            </div>
            </div>
            </div>
        </div>
        <!-- Left end -->
        <!-- Center -->
        <div class="col-md-4 col-lg-4 col-xs-12 text-center">
            <div class="panel panel-default">
            <div class="panel-body">            
            <h4>Center</h4>            
            <div class="row">
            <div class="col-xs-12 col-md-6 col-sm-6 col-md-push-3 col-sm-push-3">
                <div class="form-group">
                    <select class="form-control">
                        <option value="">Add Dynamic Content...</option>
                        <option value="{compname}">Your Company's Name</option>
                        <option value="{credo}">Your Company's Credo</option>
                        <option value="{logo}">Your Company's Logo</option>
                        <option value="{cAddress}">Your Company's Address</option>
                        <option value="{cCity}">Your Company's City</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="leftFooter" rows="3" cols="36"></textarea>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <select class="form-control">
                        <option>Arial</option>
                        <option selected="">Helvetica</option>
                        <option>Times</option>
                        <option>Americana</option>
                        <option>Times New Roman</option>
                        <option>Book Antiqua</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option>8</option>
                        <option>9</option>
                        <option selected="">10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                <select class="form-control" multiple="">
                    <option value="B" selected="">Bold</option>
                    <option value="I">Italic</option>
                    <option value="U">Underline</option>
                </select>
            </div>
            </div>
            </div>
        </div>
    </div>
        <!-- Center end -->
        <!-- Right -->
        <div  class="col-md-4 col-lg-4 col-xs-12 text-right">
            <div class="panel panel-default">
            <div class="panel-body">           
            <h4>Right</h4>                
            <div class="row">
            <div class="col-xs-6 col-md-6 col-md-offset-6">
                <div class="form-group">
                    <select class="form-control">
                        <option value="">Add Dynamic Content...</option>
                        <option value="{compname}">Your Company's Name</option>
                        <option value="{credo}">Your Company's Credo</option>
                        <option value="{logo}">Your Company's Logo</option>
                        <option value="{cAddress}">Your Company's Address</option>
                        <option value="{cCity}">Your Company's City</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="leftFooter" rows="3" cols="36">Project Number: {projnumber}</textarea>
                </div>
            </div>
            </div>
            <div class="row">
            <div class=" col-xs-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <select class="form-control">
                        <option>Arial</option>
                        <option selected="">Helvetica</option>
                        <option>Times</option>
                        <option>Americana</option>
                        <option>Times New Roman</option>
                        <option>Book Antiqua</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option>8</option>
                        <option>9</option>
                        <option selected="">10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-md-6 col-lg-6">
                <select class="form-control" multiple="">
                    <option value="B" selected="">Bold</option>
                    <option value="I">Italic</option>
                    <option value="U">Underline</option>
                </select>
            </div>
             </div>   
            </div>
            </div>
        </div>
        <!-- Right End -->

</div>

        
        <div class="form-horizontal">            
        <div class="form-group">
            <label for="repeatFooter" class="control-label col-md-3 col-sm-3 col-xs-12">
                Repeat Footer:
            </label>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <select id="repeatFooter" name="repeatFooter" class="form-control">
                    <option value="0">Yes</option>
                    <option value="1">No</option>

                </select>
            </div>
        </div>
    
        <div class="form-group">
            <label for="numberofLinesBelowFooter" class="control-label col-md-3 col-sm-3 col-xs-12">
                Number of Lines Below Footer:
            </label>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <select id="numberofLinesBelowFooter" name="NumberofLinesBelowFooter" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
         </div>

