<script type="text/ng-template" id="helpEP.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeHelpModal();"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">WHO QUALIFIES AS AN ENVIRONMENTAL PROFESSIONAL?</h4>
    </div>
    <div class="modal-body">

        <strong>The following is taken from the EPA website (<a href="http://www.epa.gov/brownfields/brownfields-fact-sheet-definition-environmental-professional-included-final-rule" target="_blank">http://www.epa.gov/brownfields/brownfields-fact-sheet-definition-environmental-professional-included-final-rule</a>) and was last updated February 2014.
    </strong>
        <hr>
        <p>To ensure the quality of all appropriate inquiries, the final rule includes specific educational and experience requirements for an environmental professional. The definition applies only to persons conducting all appropriate inquiries for the specific purposes outlined in the final rule.</p>

        <p>The final rule defines an environmental professional as someone who possesses sufficient specific education, training, and experience necessary to exercise professional judgment to develop opinions and conclusions regarding conditions indicative of releases or threatened releases of hazardous substances on, at, in, or to a property, sufficient to meet the objectives and performance factors of the rule. In addition, an environmental professional must have:</p>

        <ul>
            <li>A state or tribal issued certification or license and three years of relevant full-time work experience; or</li>
            <li>A Baccalaureate degree or higher in science or engineering and five years of relevant full-time work experience; or</li>
            <li>Ten years of relevant full-time work experience.</li>
        </ul>

        <h5>QUALIFYING AS AN ENVIRONMENTAL PROFESSIONAL THROUGH CERTIFICATION OR LICENSE
    REQUIREMENTS</h5>

        <p>Individuals with a state- or tribal-issued license or certification also must have the equivalent of three years full-time relevant experience to qualify as an environmental professional for the purposes of the all appropriate inquiries rule.</p>

        <p>The relevant certification and license requirements include and are limited to the following categories:</p>

        <ul>
            <li>A current Professional Engineer’s (P.E.) License;</li>
            <li>A current Professional Geologist’s (P.G.) License;</li>
            <li>Other current license or certification from a state, tribe, U.S. territory, or the Commonwealth of Puerto Rico to perform environmental site assessments or all appropriate inquiries as defined in the final rule. </li>
        </ul>

        <p>Individuals who do not hold one of these licenses or certifications may still qualify as an environmental professional through educational and experience requirements, as explained below.</p>

        <h5>QUALIFYING AS AN ENVIRONMENTAL PROFESSIONAL THROUGH EDUCATIONAL
    REQUIREMENTS</h5>

        <p>Individuals who hold a Baccalaureate or higher degree in engineering or science from an accredited institution of higher education and have equivalent of five years full-time relevant experience qualify as an environmental professional under the final rule.</p>

        <p>Individuals not meeting the educational requirements may still qualify as an environmental professional through the relevant experience requirements outlined below.</p>

        <h5>QUALIFYING AS AN ENVIRONMENTAL PROFESSIONAL THROUGH EXPERIENCE REQUIREMENTS</h5>

        <p>Individuals who do not otherwise meet the qualifications for an environmental professional outlined above may still meet the definition of environmental professional as stated in the final all appropriate inquiries rule if they have the equivalent of ten years of full-time relevant experience.</p>

        <h5>WHAT IS THE DEFINITION OF RELEVANT EXPERIENCE?</h5>

        <p>For the purposes of qualifying as an environmental professional under the final rule for all appropriate inquiries, “relevant experience” means:</p>

        <p>Participation in the performance of environmental site assessments that may include environmental analyses, investigations, and remediation which involve the understanding of surface and subsurface environmental conditions and the processes used to evaluate these conditions and for which professional judgment was used to develop opinions regarding conditions indicative of releases of hazardous substances.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-md" ng-click="closeHelpModal();">Close</button>
    </div>
</script>