<script type="text/ng-template" id="helpSignFor.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeHelpModal();"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">How can others use my signature?</h4>
    </div>
    <div class="modal-body">
        <p>By selecting 'Yes' on the 'Allow others to use my signature' option in your account settings, you are opting-in to allow other users in your company to sign for you on qualifying reports.</p>
        <p>There are a two things that make a report qualify</p>
        <ol>
            <li>The report must use signatures that support the 'Sign For' option (Template Level design choice by your company Administrators)</li>
            <li>You must have the proper access level to sign the particular report signature (i.e. If a signature is Project Manager only, then you must be Project Manager level or higher on the particular report for anyone to sign for you)</li>
        </ol>
        <p>If you have any questions about this, please contact your company Administrator or PARCEL Support.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-md" ng-click="closeHelpModal();">Close</button>
    </div>
</script>