
<div class="col-md-12 col-sm-12 col-xs-12 " >
    <h4  >
                            Global Page Settings
              
                    </h4>
 
    

        <div class="form-group col-md-3 col-lg-3 col-sm-3 ">
            <label for="exampleInputEmail1">Left Margin (in inches):</label>
            <select class="form-control">
                <option>0.5"</option>
                <option>0.75"</option>
                <option>1"</option>
                <option>1.25"</option>
                <option>0.5"</option>
                <option>1.75"</option>
                <option>2"</option>

            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1">Right Margin (in inches):</label>
            <select class="form-control">
                <option>0.5"</option>
                <option>0.75"</option>
                <option>1"</option>
                <option>1.25"</option>
                <option>0.5"</option>
                <option>1.75"</option>
                <option>2"</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1">Page Break b/w sections:</label>
            <select class="form-control">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1">Draft Location:</label>
            <select class="form-control">
                <option value="NONE">None</option>
                <option value="TOPLEFT">Top Left</option>
                <option value="TOPCENTER">Top Center</option>
                <option value="TOPRIGHT" selected="">Top Right</option>
                <option value="BOTTOMLEFT">Bottom Left</option>
                <option value="BOTTOMCENTER">Bottom Center</option>
                <option value="BOTTOMRIGHT">Bottom Right</option>
                <option value="MIDDLEOFPAGE">Middle of Page</option>
                <option value="CUSTOM">Custom-Defined</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1">Draft Type:</label>
            <select class="form-control">
                <option value="1">Grey Block</option>
                <option value="2" selected="">Red Text</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1"> Repeat Parent Headers:</label>
            <select class="form-control">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1"> Repeat Headers:</label>
            <select class="form-control">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1"> Section Number Tab Space:</label>
            <select class="form-control">
                <option>Yes</option>
                <option>No</option>

            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1">Section Number Tab Space Distance:</label>
            <select class="form-control">
                <option>Default</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1"> Indent Section Header:</label>
            <select class="form-control">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1"> Photos Per Page:</label>
            <select class="form-control">
                <option>2</option>
                <option>4</option>
                <option>6</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1"> Photo Caption Align:</label>
            <select class="form-control">
                <option value="L">Left</option>
                <option value="C" selected="">Center</option>
                <option value="R">Right</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-sm-3">
            <label for="exampleInputPassword1"> Autonumber Captions:</label>
            <select class="form-control">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
 
</div>