
<div class="col-md-12 col-sm-12 col-xs-12 ">
    <h4>
        PCA Specific Settings
    </h4> 
 
        <div class="form-group col-md-4 col-lg-4 col-sm-4 " title="Include the recommendations in the printed PDF report">
            <label for="exampleInputEmail1">Print PCA Recommendations:</label>
            <select class="form-control">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
        <div class="form-group col-md-4 col-lg-4 col-sm-4" title="Print the Description, Assessment & Recommendation below the header, rather than to the right of it">
            <label for="exampleInputPassword1">D/A/R Below Heading:</label>
            <select class="form-control">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
        <div class="form-group col-md-4 col-lg-4 col-sm-4" title="Print a horizontal line after system description sections">
            <label for="exampleInputPassword1">Print Separator Line:</label>
            <select class="form-control">
                <option>Yes</option>
                <option>No</option>

            </select>
        </div>
        <div class="form-group col-md-4 col-lg-4 col-sm-4" title="The color of the cost table header">
            <label for="exampleInputPassword1">Cost Table Header Color:</label>
            <input colorpicker class="form-control ng-valid ng-dirty" ng-model="your_model">
        </div>
        <div class="form-group col-md-4 col-lg-4 col-sm-4" title="The color of the cost table header Text">
            <label for="exampleInputPassword1">Cost Table Header Text Color:</label>
            <input colorpicker class="form-control ng-valid ng-dirty" ng-model="your_model2">
        </div>
    </div>
 

 